/*
Theme Name: Edgy Ellen
Theme URI: http://wpclassic.com/edgy-ellen
Description: Edgy Ellen is a free premium WordPress theme. Download more <a href="http://wpclassic.com">free WordPress Themes</a>.
Version: 1.0
Author: WP Classic
Author URI: http://wpclassic.com
Tags: unlimited backgrounds, unlimited color schemes, custom logo, custom font integration, advertisement ready, twitter buttons, facebook buttons, popular posts, featured photos, featured video
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@import 'css/print.css';
@import 'css/jquery.cycle.css'; 

@font-face {
 font-family: "Lucida Grande";
 src: url("includes/fonts/Lucida-Grande.ttf");
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3,  h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
overflow:hidden;
margin:0 auto;
width:1000px;
background:url("images/bg_content.png") repeat-y scroll right top transparent;
}
#content {
	position:relative;
}
#primary {
	float: left;
	overflow: hidden;
	width: 220px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 956px;
	margin:0 auto;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 900px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: Arial,sans-serif;
	font-size:12px;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#main,
#wrapper {
	margin: 0 auto;
	width: 100%;
}
#wrapper {
	margin-top: 0px;
	padding: 10px 0 0;
}

/* Structure the footer area */
#footer-widget-area#top-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;margin-right:24px;width:206px;
}
#top-widget-area .widget-area_top{
background:url("images/widget-border.png") repeat-y scroll left top transparent;
}
#top-widget-area .widget-area_top,
#top-widget-area .widget-area_top  .widget_text{
	color:#666666;float:left;
	margin:15.4px 22px 0 0;padding:0 12px 24px;
	position:relative;text-shadow:1px 0 #E7E7E7;width:273px;
}#top-widget-area .widget-area_top  a,#top-widget-area .widget-area_top  a:hover{
	color:#666
}
#top-widget-wing{background:none repeat scroll 0 0 #4E4E4E;height:175px;left:-9999px;position:absolute;top:0;width:20000px;z-index:-1;}
#top-widget-area .widget-area_top ul{
	padding:0;margin:0px;
	list-style:none;
}#top-widget-area .widget-area_top ul li{
	padding:0;margin:0px;	
}
#top-widget-area {
	background:url("images/bg-top-widget.png") repeat-x scroll left top #A5D6EC;height:179px;margin:0 auto;
padding:0;position:relative;width:957px;
}
#top-widget-area-wrapper {
	background:url("images/bg-top-widget.png") repeat-x scroll left top #A5D6EC;height:179px;margin:0 auto;
	padding:0;position:relative;width:100%;
}


#top-widget-area-left,#top-widget-area-right{
	width:20px;height:175px;
}
#top-widget-area-right{
	background:url("images/bg-right-top-widget.png") no-repeat scroll 0 0 transparent;float:right;
	position:absolute;right:-8px;top:0;
}
#top-widget-area-left{
	background:url("images/bg-left-top-widget.png") no-repeat scroll 0 0 transparent;
	float:left;
	left:-6px;
	position:absolute;
	top:0;
}

#site-info {
	float: left;
	font-size: 14px;
	font-weight: normal;
}

#site-info strong {
font-weight: normal;
}

#site-generator {
	float: right;	
}
#site-info ,#site-generator ,
#site-info a,#site-generator a{
	color:#424242;
}

/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #f1f1f1;
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	border-left:5px solid #7c8083;
	display:block;
	float:left;
	font-style:italic;
	margin:10px 29px;
	padding:0 1em;
	text-shadow:1px 1px #FFFFFF;
	width:85%;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;color:#666
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 5px;
}
a:link {
	color: #999;
	text-decoration:none;
}
.dashed{
	color: #999;
	text-decoration:none;
	border-bottom: solid 1px #ccc
}
a:visited {
	color: #999;		
	text-decoration:none;
}
a:active,
a:hover {
	color: #e63b33;
	text-decoration:none;
}
.clear { clear: both; }


/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.alignleft{float:left;margin-right:8px;}
.alignright{float:right;margin-left:8px;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;text-align:center;}

/* =Header
-------------------------------------------------------------- */

#header {
	margin:0 auto;
	padding:0;
	width:100%;
	background:url("images/header.png") repeat-x scroll left top transparent;
	height:103px;
}

#masthead {
	padding: 0;	
	margin:0 auto;
padding:0;
width:957px;
}

#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	width: 500px;
}
#site-title a.texttitle {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	float:left;
	margin:38px 0 0 48px;
	font-size:42px;
}
#site-search {	background:url("images/bg-searchform.png") no-repeat scroll left top transparent;
	clear:right;display:block;	float:left;font-style:italic;
	height:43px;margin:0 0 40px 0;	width:253px;padding-right:20px;}


#site-search form#searchform, form#searchform textarea,form#searchform button,form#searchform input {
	background:none repeat scroll 0 0 transparent;
	border:medium none;
	margin:2px;
}
form#searchform input {
	padding:10px;
width:204px;
}
form#searchform button{
	height:28px;
	margin:0;
	width:35px;
}


/* This is the custom header image */

#branding{
	width:1000px;
}
#branding #site-title{
	width:35%;
	float:left;
	display:block;
}

#branding img {
	clear: both;
	display: block;
	margin: 31px 0 0 0;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	height:41px;
	margin:31px auto;
	width:57%;
	float:right;
}
#access .menu-header,
div.menu {
	font-size:18px;
	margin-left: 0 auto;	
}
#access .menu-header ul,
div.menu ul {
	list-style: none;font-family:'Arimo';
	margin: 0;float:right;font-weight:bold;
	text-transform: capitalize;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
	text-align:left;
	border:none;	
}
#access a {
	color:#E63B33;display:block;
	line-height:18px;
	padding:0 10px;text-align:center;
	text-decoration:none;text-shadow:1px 1px #FFFFFF;
}
#access a span.link-number{
color:#E29993;display:block;font-family: "Arimo";padding:0 15px;
font-size:36px;font-weight:bolder;margin-bottom:7px;text-align:center;
text-shadow:1px 1px #000000;}
#access a span.link-title{	
color:#FFFFFF;
font-family: "Arimo";
font-size:12px;
font-weight:bold;
padding-top:10px;
text-align:center;
text-shadow:1px 1px #000000;
text-transform:uppercase;
}
#access ul ul {
	display: none;
	position: absolute;
	top: 68px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
	text-align:center;
	
}
#access ul ul li a{
background:url("images/li_bot_bg.png") repeat-x scroll left bottom transparent;
color:#FFFFFF;font-family:'Arimo';font-size:13px;
line-height:2em;min-width:180px;opacity:0.91;
text-align:center;text-shadow:1px 1px #000000;text-transform:uppercase;
}
#access span.bottom-nav{
	background:url("images/li_bot_bg.png") repeat-x scroll left bottom transparent;display:block;
}
#access span.left{	
	background:url("images/li_side_bg.png") repeat-y scroll left top transparent;
}
#access ul ul li   {	
	background:url("images/li_side_bg.png") repeat-y scroll left top transparent;	
}

#access ul ul li:hover , #access ul ul li:hover a{
	color:#e29993;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	line-height: 1em;
	padding: 10px 0;
	
	height: auto;
	
}
#access li:hover,#access li:hover span.link-number,#access li:hover span.link-title  {
	color:#fff;

}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a
#access ul li.current-menu-parent a > span.link-number,
#access ul li.current_page_item  a > span.link-number {
	color: #fff;
}
#access ul li a span.sf-sub-indicator{display:none;}
* html #access ul li.current_page_item a,
* html #access ul li.current_page_item a span.link-number,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li.current-menu-parent a span.link-number ,
* html #access ul li a:hover{
	color: #fff;
}


/* =Social Navigation
-------------------------------------------------------------- */
#socials {
	clear:right;color:#000;display:block;
	font-weight:bold;text-transform:uppercase;width:282px;
}
#socials ul.socialnet {
	display:block;
	float:left;
	list-style:none outside none;
	margin:0;
	outline:medium none;
	padding:15px 0;
	
	}
#socials ul.socialnet li{
	display:block;
	float:left;
	height:30px;
	list-style:none outside none;
	margin:0;
	outline:medium none;
	padding:19px 0;

}
#socials ul.socialnet li a{
	display:block;
	float:left;
	height:20px;
	color:#d5d5d5;
	padding:17px 0 0 50px;
}

#socials ul.socialnet li a.rss{
	background:url("images/rss-ico.png") no-repeat scroll left top transparent;

}
#socials ul.socialnet li a.facebook{
	background: transparent url('images/fb-ico.png') left top no-repeat;

}

#socials ul.socialnet li a.twitter{
	background: transparent url('images/twitter-ico.png') left top no-repeat;

}#socials ul.socialnet li a.email{
	background: transparent url('images/eml-ico.png') left top no-repeat;
	
}

#about p img { float:left;margin-right:5px;}


/* =Content
-------------------------------------------------------------- */

#main {
	background:none transparent;clear:both;width:100%;}
#content {
	display:block;width:690px;
	float:right;margin:0;
	padding-top:30px;		
	
}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 13px;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 4px;
	text-shadow: 0px 1px 0px #FFF;
	color:#333;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h2,
#content h3,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0;
	font-weight:bold;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}

#content div.cat-title {
	background:none repeat scroll 0 0 #f1f2f4;color:#514242;border:1px solid #A0A0A0;
	font-size:22px; font-weight:bold; margin:0 0 0 10px; min-height:49px;
	padding:19px 0 0 0px; text-align:center;text-shadow:1px 1px #FFFFFF;width:296px;
}

#content p span.date-cat{
	font-style:italic;
	font-size:9px;
	
}


.hentry {

}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry, 
.page .hentry {
	background:none transparent;
	margin-left:25px;
	padding:0;
	width:611px;
	font-family:"Lucida Grande";
	font-size:12px;
}
.page-title {
	color:#000;
	font-size:22px;
	font-weight:normal;
	text-align:center;
/*	width:923px; */
}
h1.page-title{
	margin-bottom:28px;
	padding:14px;
}

.page-title span {
	color: #000;
	font-size: 24px;
	font-weight: bold;
	font-family:Arial;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #e63b33;
}
#content .entry-title {
background:none repeat scroll 0 0 #F9F9F9;
font-size:20px;
font-weight:bold;
padding:0 10px 0 0;
float:left;
font-family: "Arimo";color:#e63b33;
}

#content .entry-title-wrap{
background:url("images/stripe.png") repeat scroll left top transparent;
float:left;
font-weight:bold;
margin-bottom:20px;
padding:0;
width:100%;
}

#content .banner-wrapper,#content .banner-wrapper-2{
background:url("images/stripe.png") repeat scroll left top transparent;
margin:30px auto;
padding:7px;
text-align:center;

}
#content .banner-wrapper img{

}

#content .banner-wrapper{
width:627px;
}#content .banner-wrapper-2{
width:620px;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;background:#f9f9f9;padding:2px 0;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #e63b33;
}
.entry-meta {
	color: #888;font-size: 12px;text-transform:upppercase;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content{
	padding:0;width:593px;color:#666
}.entry-content a{
	color:#e63b33;
}
.social-media{
width: 78px; float: right; display: block;
}
.social-media #twit{
text-align: right; display: block; float: right;
}
.social-media #fb{
text-align: right; display: block; float: right;
}
.entry-summary {
	display:block;
	float:right;
	padding:0;
	width:438px;
	line-height:3em;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
	
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;	
}

.post-group .hentry {
	font-family:arial;font-size:12px;margin:0;float:left;padding:15px 0;position:relative;width:635px;font-family:"Lucida Grande";font-size:12px;
}
.post-group{
	color:#666666;float:left;
	margin:0 0 20px;padding-left:30px;
	width:617px;
}
.post-group .hentry  .thumbnail{
	float:left;margin:8px 0; overflow:hidden;
	background:url("images/stripe.png") repeat scroll left top transparent;
}
.post-group .hentry  .thumbnail img{
	padding:10px;
}

.post-group ul.headlines{
	list-style:none;margin:0;padding:0;
}
.post-group ul.headlines li a{
	color:#000;
}.post-group ul.headlines li a:hover{
	color:#e63b33;
}
.post-group ul.headlines li{
	width:100%;
	float:left;
	margin:10px 0;
}.post-group ul.headlines li img.old-post-img{
	margin:0;padding:0;
}
.post-group ul.headlines .old-post-title,.post-group ul.headlines .meta-old-post{
	display:block;float:left;margin:3px 0 0 16px;width:85%;
}.post-group ul.headlines .old-post-title {
	font-family: "Arimo";font-size:20px;font-weight:bolder;
}
.post-group ul.headlines .old-post-thumbnail{
	width:50px;height:50px;margin-right:10px;float:left;
}.post-group ul.headlines .meta-old-post a{
	font-size:12px;color:#999;font-weight:bold;
}

.page-link {
	color: #000;font-weight: bold;	margin: 0 0 22px 0;word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;color: #333;font-weight: normal;padding: 0.5em 0.75em;text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #e63b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	clear:both;
	font-size:14px;
	line-height:20px;
	margin:24px 0;
	overflow:hidden;
	padding:18px 20px 18px 0;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h3 {
	color: #000;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;	
	padding:0;
	font-family:"Arimo";
}
.entry-utility {
	clear: both;font-size: 12px;width:100%;
	line-height: 18px;height:28px;margin:0;float:left;display:block;
}
.entry-utility  .meta-more-info{
	float:left;font-family:"Lucida Grande";font-size:10px;font-weight:normal;width:50%;
}
.entry-utility  .fb_twit_share{
	float:right;width:45%;text-align:right;
}

.entry-utility .read-more a{
	background:url("images/bg-read-more.png") no-repeat scroll left top transparent;font-family:"Lucida Grande";font-weight:normal;font-size:10px;
	color:#FFFFFF;display:block;float:left;height:26px;padding:3px 12px;width:130px;text-decoration:none;
}.entry-utility .read-more a:hover{
	color:#FFFFFF;
}
.entry-utility .comment-home{
	display:block;float:left;padding:4px 9px; color:#e63b33;
}
.entry-utility .comment-home a,.entry-utility .comment-home a:hover{
	color:#e63b33;
}
.entry-meta a,
.entry-utility a {
	text-transform:capitalize;font-weight:bolder;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #e63b33;text-decoration:none;
}




#content .video-player {
	padding: 0;
}

.meta-nav-home{
background:url("images/bg-continue.png") no-repeat scroll left top transparent;
color:#FFFFFF;display:block;
float:right;height:37px;
padding:5px 0 0 18px;right:16px;
text-shadow:none;top:329px;width:81px;
}
.meta-nav-home a, .meta-nav-home a:visited {
	color:#fff;
	text-shadow:none;
}
	color:#e63b33;
.meta-nav-home a:hover, .meta-nav-home a:active,.meta-nav{
}







/* =Asides
-------------------------------------------------------------- */

.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.category-asides {
	padding: 0;
	
}
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

#content img {
	margin: 0;height: auto;max-width: 640px;
	width: auto;overflow:hidden;
	
	
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
#content .wp-smiley {
	margin: 0;
}
#content .gallery {
	margin: 0 auto 18px;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	
}
#navigation-wrapper{
clear:both;
display:block;
float:left;
margin:33px 0 0;
text-align:left;
width:100%;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	border-top:1px solid #eaeaea;display:block;float:left;	
	margin:10px 0 0 0;padding:12px 20px 21px 0px;width:571px;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;
	font-family:"Arimo";
}

.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 84px;
	position: relative;
	background:transparent none;
	text-shadow:none;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-top:10px;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
	color:#999;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
	padding:4px;
	background:#999;
}
.comment-author , .comment-body, .comment-body p{
	margin:0 5px;color:#D5D5D5;
	text-shadow:none;
}
.comment-author cite {
	color: #e63b33;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
	color:#999;
}
.comment-meta {
	font-size: 12px;
	margin: 0 5px 18px;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #e63b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #e63b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments img{
	margin:5px 0 0 10px;
	background:#999 none;
	padding:5px;
	
}


#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top:1px solid #eaeaea;display:block;float:left;
	margin:10px 0 0 0;padding:12px 20px 21px 0px;width:94%;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
	width:96%;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #e63b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {margin: 0 0 9px;width: 98%;height:20px;
	background:#ccc;	color:#fff;
	font-family:"Arial";font-weight:bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;	
}
#respond textarea {
	width: 98%;	background:#ccc;color:#fff;
	font-family:"Arial";font-weight:bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;	
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
form#comment-form button {background:url("images/button-submit-comment.png") no-repeat scroll left top transparent;border:0 none;
color:#e63b33;cursor:pointer;display:block;float:right;height:31px;margin:10px 0;padding:0;width:86px; font-weight:bold;}


/* Sharer icons and Related Posts styling*/

#sharer{
	border-top:1px solid #eaeaea;display:block;float:left;
	margin:10px 0 0 0;padding:12px 20px 21px 0px;width:571px;
}
#sharer .navigation {
	padding: 0 0 18px 0;
}
h3#sharer-title,
h3#rel-posts-title{
	color: #000;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;	
	padding:0;
	font-family:"Arimo";
}

#sharer ul{
	display:block;
	float:left;
	height:44px;
	list-style:none outside none;
	margin:15px 0 0 0;
	padding:0;
	width:100%;
}
#sharer li {
	display:block;
	float:left;
	margin:0 15px 0 0;
	padding:0;
}

/* Popular posts styling */

.popular-post-items ul li{
float:left;
margin-left:0;
padding:15px;
}
.popular-post-items img.wpp-thumbnail {
display:block;
float:left;
height:50px;width:50px;
margin-right:5px;
}
span.wpp-post-title {
display:block;float:left;font-size:15px;
font-family:"Lucida Grande";font-weight:bold;font-size:11px;
text-shadow:0 1px #fff;width:180px;
}
span.post-stats,.wpp-comments {
display:block;float:left;font-size:11px;
font-style:italic;color:#666;
}
img.wppnothumb{display:block;}

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul ,.widget-area ul.flickr {
	list-style: none;
	margin-left: 0;
	color:#000;
	text-shadow:1px 1px #fff;
}
.widget-area ul ul {
	list-style: none outside none;
	margin-left: 1.3em;
}
.widget-area ul ul li{
	margin-left:0;
	padding:10px 0;	
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-container-primary {
	margin:0;
	padding-bottom:0;
	width:282px;
}
.widget-container-primary  .interior{
	margin:0;
	padding:20px 10px;
	width:89%;
}
.widget-container-primary  .goo-twitter{
	margin:0;
	padding:20px 10px;
	width:89%;
}
.widget-container-primary  ul.goo-twitter {
	margin:0;	padding:15px 0;
}.widget-container-primary ul.goo-twitter li.goo-twitter-item {
	background:url("images/li_twit_bg.png") no-repeat scroll 3px 15px transparent;padding:15px 0 15px 36px;
}.widget-container-primary  ul.goo-twitter li.goo-twitter-item  .goo-twitter-timestamp{
	color:#e63b33;text-shadow:1px 1px #fff;
}
.widget-container-primary  ul.goo-twitter li.goo-twitter-item  .twitter-link{
	color:#000;text-shadow:1px 1px #fff;
}

.widget-title-primary{
	color: #fff;
	text-shadow:1px 1px #000;
}

.widget-title-primary {
	font-weight: bold;	
	margin-bottom:0px;
	text-transform:uppercase;
	font-family:"Arimo";font-size:16px;
}

.widget-area ul.flickr  a img{
	margin:0;	
}
.widget-area ul.flickr .flickr_cont{
background: rgba(61, 59, 67, 0.2);
height:76px;
margin:2px;
padding:5px;
width:76px;float:left;
}

h3.widget-title-primary {
background:url("images/sidebar_title_bg.png") repeat-x scroll left top transparent;
display:block;height:42px;line-height:2.5em;padding-left:15px;text-align:left;
}


#footer-widget-area div.interior{
	margin-top:20px;
}
#footer-widget-area div.interior ul li{
	padding:5px;	
}
#footer-widget-area div.interior ul ul li{
	padding:5px;
	margin:0;
	border:none;
}

.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
	color:#000;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
	color:#e63b33;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #e63b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 25px;
	font-family:"Lucida Grande";font-weight:normal;font-size:11px;
}
#main .widget-area ul li ul.ads{
	border: none;
	margin:0px;
	padding: 21px 9px;
}
#main .widget-area ul li ul.ads li.ad_alignleft{
	border: none;
	margin:10px 0 0 8px;
	padding: 0;
	float:left;
	display:block;
}#main .widget-area ul li ul.ads li.ad_alignright{
	border: none;
	margin:10px 10px 0px 8px;
	padding: 0;
	float:right;
	display:block;
}
#main .widget-area ul ul,#primary .widget-area ul ul {
	border: none;
/*	margin-bottom:20px; */
	padding: 0;
}
#primary {	
	margin:0;border-left:1px solid cdcdcd;padding-top:30px;
	width:295px;background:url("images/bg-sidebar-2.png") no-repeat scroll right top transparent;
	
}#primary .widget-area ul ul li {
	border-bottom:1px solid #DDDDDD;
	margin-left:0;
	padding:15px;
	border-top:1px solid #454649;
}
/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#footer {	
	height:70px;
	margin:0 auto;
	padding:0 34px;
}
#footer-wrapper {	
	height:70px;
	width:100%;
	background:url("images/footer-wrapper-bg.png") repeat-x left bottom transparent;
}
#colophon {
	background: #333333;
	border:1px solid #84BAD2;	
	border-top:none;
	color:#8D8D8D;
	display:block;
	margin-top:-10px;
	overflow:hidden;
	padding:32px 0 18px 30px;
	text-shadow:1px 1px #000000;
	width:927px;
}
#colophon a,#colophon a:visited{
	color:#505151;
}
#colophon a:hover,#colophon a:active{
	color:#505151;text-decoration:none;
}
#site-info {
	background:none transparent;font-weight:normal;	font-size:10px;width:30%;
	height:47px;padding:25px 0 0 25px;font-family: Arial;color:#999;
}
#site-info a {
	color: #505151;
	text-decoration: none;
}
#site-generator {
	background:none transparent;
	font-weight:normal;	font-size:10px;width:50%;
	height:47px;padding-left:18px; 	padding:25px 0 0 25px;
	font-family: Arial;	color:#999;
}
#site-generator a {	
	color: #505151;
	display: inline-block;
	line-height: 16px;	
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}

p.annotation {
	text-align: right;
	color: #505151;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}

div#featured{
	width:93%;overflow:hidden;
	margin:0 auto;
	height:255px;
	background: #0c0a0c none;
	padding: 0 0 20px 0;
	background:url("images/stripe.png") repeat scroll left top transparent;
}
div.pad {
	width:570px;
	height:250px;
	padding:10px;
	margin: 0 auto;
}

div.featured-continue{
	display:block;float:left;height:34px;padding:14px 0 0 39px;width:167px;background:#333 url("images/feat-read-.png") no-repeat;
}
div.featured-continue a{color:#e63b33;text-transform:uppercase;}

/* Pagination styling */

.pagenavi {
clear:both;display:block;float:left;margin:17px 0 0;text-align:center;width:596px;font: normal 20px/24px Futura Medium Condensed BT;
}
.pagenavi  .pages{
	
}
.pagenavi a, .pagenavi span {
	background:transparent none;height:6px;	margin:2px;
	padding:1px;text-decoration:none;color:#999;
}

.pagenavi a:hover, .pagenavi span.current {
	border-color: #e63b33;color:#000;
}

.pagenavi span.current {
	font-weight:bold;color:#000;
}
.pagenavi a.nextlink{
	background:#e1e1e4 none;
	color:#383d49;
}.pagenavi a.previouslink{
	background:#e1e1e4 none;color:#383d49;
}
.pagenavi .brace {color:#ccc}