/*
Theme Name: Pongsari
Theme URI: http://dynamicwp.net/
Description: Nice clean theme. Based on WordPress Twenty Ten Theme
Author: DynamicWP team
Version: 1.0
Tags: green, white, two-columns, fixed-width, threaded-comments, sticky-post
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline; }
body { line-height: 1; }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: normal; }
ol, ul { list-style: none; }
blockquote { quotes: none;}
blockquote:before, blockquote:after { content: ''; content: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none;}

/* =Fonts
-------------------------------------------------------------- */
body, input, textarea, .page-title span, .pingback a.url { font-family: Georgia, "Bitstream Charter", serif; }
h3#comments-title, h3#reply-title, #access .menu, #access div.menu ul, #cancel-comment-reply-link, .form-allowed-tags, #site-info, #site-title, #wp-calendar, .comment-meta, .comment-body tr th,
.comment-body thead th, .entry-content label, .entry-content tr th, .entry-content thead th, .entry-meta, .entry-title, .entry-utility, #respond label, .navigation, .page-title, .pingback p, .reply,
.widget-title, .wp-caption-text, input[type=submit] {  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; }
pre { font-family: "Courier 10 Pitch", Courier, monospace;}
code { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;}




/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body { background: transparent url(images/bg_grid.png) repeat 0 0; }
body, input, textarea {	color: #666; font-size: 12px; line-height: 18px;}
hr {	background-color: #e7e7e7;	border: 0;	clear: both; height: 1px; margin-bottom: 18px; }

/* Text elements */
p {	margin-bottom: 18px; }
ul {	list-style: square;	margin: 0 0 18px 1.5em;}
ol {	list-style: decimal; margin: 0 0 18px 1.5em;}
ol ol { list-style: upper-alpha;}
ol ol ol {	list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha;}
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
dl {	margin: 0 0 24px 0;}
dt {	font-weight: bold;}
dd {	margin-bottom: 18px;}
strong {	font-weight: bold;}
cite, em, i {	font-style: italic;}
big { font-size: 131.25%;}
ins { background: #ffc;	text-decoration: none;}
blockquote {	font-style: italic;	padding: 0 3em; }
blockquote cite, blockquote em, blockquote i { font-style: normal;}
pre { background: #f7f7f7; color: #222;	line-height: 18px;	margin-bottom: 18px; padding: 1.5em; }
abbr, acronym {	border-bottom: 1px dotted #666;	cursor: help;}
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline;}
sup { bottom: 1ex;}
sub { top: .5ex; }
input[type="text"], textarea { 	background: #FFF url(images/bg-input.png) repeat-x 0 0; border: 1px solid #EEE; /*box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); */ padding: 7px 2px; }
a:link { color: #839E35; }
a:visited { color: #839E35; }
a:active, a:hover {	color: #ff4b33;	outline: none;}
a:focus { -moz-outline-style: none; }
.clear {clear: both;}
span.clear {display: block;}



/* =Header
-------------------------------------------------------------- */

#header {  margin: 60px auto 0 auto; width: 980px;  }

#site-title-desc { float: left; background:url(images/logo.png) no-repeat 0 0; padding-left:80px; width:350px;  }
#site-title { font-size: 34px; line-height: 36px; margin: 3px 0 3px 0; }
#site-title a { color: #333; font-weight: bold; text-decoration: none; }
#site-description { font-style: italic; margin: 3px 0 3px 0; width: 350px; padding-left: 11px;}


/* =Menu
-------------------------------------------------------------- */

.screen-reader-text { position: absolute; left: -9000px; }
#access { /*	display: block; float: right; margin: 0 auto; width: 940px; */	float: right; margin-top: 10px; }
#access .menu-header, div.menu { font-size: 13px;	margin-left: 12px; }
#access .menu-header ul, div.menu ul { list-style: none; margin: 0;}
#access .menu-header li, div.menu li { float: left; position: relative; }
#access a { color: #363636; font-size: 13px; text-transform:uppercase; display: block;	/*line-height: 30px;*/ padding: 0 10px;	padding-bottom: 10px; text-decoration: none; font-weight: bold; }
#access ul ul { box-shadow: 0px 3px 3px rgba(0,0,0,0.2);	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2); display: none; position: absolute; 	/*top: 30px;*/ left: 0;	float: left; width: 180px; z-index: 99999; }
#access ul ul li { min-width: 180px; }
#access ul ul ul {	left: 100%;	top: 0;}
#access ul ul a {	background: #FFF;	color: #6A6A6A;	line-height: 1em;	padding: 10px;	width: 160px;	height: auto; font-size:10px;}
/* #access li:hover > a, #access ul ul :hover > a {	background: #333;	color: #fff;} */
#access li:hover > a {	color:#888; }
#access ul ul :hover > a {	background: #ACCB50;	color: #FFF;}
#access ul li:hover > ul {	display: block; }
/* #access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a { color: #6A6A6A; } */
* html #access ul li.current_page_item a, * html #access ul li.current-menu-ancestor a, * html #access ul li.current-menu-item a, * html #access ul li.current-menu-parent a, * html #access ul li a:hover { color: #fff; }


/* =Content
-------------------------------------------------------------- */


#main, #container{ margin: 0 auto; width: 940px; }
#main {	clear: both; /*overflow: hidden; */ 	padding: 40px 0 0 0;}
#container { background: #fff url(images/bg-main.gif) repeat-y 0 0; margin: 45px auto; padding: 0 20px; -moz-box-shadow: 4px 6px 6px #BBB, -4px 6px 6px #BBB;  -webkit-box-shadow: 4px 6px 6px #BBB, -4px 6px 6px #BBB;  box-shadow: 4px 6px 6px #BBB, -4px 6px 6px #BBB;  filter: progid:DXImageTransform.Microsoft.Shadow(color='#BBBBBB', Direction=135, Strength=6);  border-top: 1px solid #DFDFDF; border-left: 1px solid #DFDFDF;   border-right: 1px solid #EEE; }

#content { padding: 0 30px 36px 20px; width: 639px; float: left;}
#content, #content input, #content textarea { color: #333; font-size: 15px;	line-height: 24px; }
#content p, #content ul, #content ol, #content dd, #content pre, #content hr { margin-bottom: 30px; }
#content ul ul, #content ol ol, #content ul ol, #content ol ul { 	margin-bottom: 0; }
#content pre, #content kbd, #content tt, #content var { 	font-size: 15px; line-height: 21px; }
#content code { font-size: 13px;}
#content dt, #content th {	color: #000;}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 { color: #000;	line-height: 1.5em; margin: 0 0 20px 0; }
#content table { border: 1px solid #e7e7e7; margin: 0 -1px 24px 0; text-align: left; width: 100%; }
#content tr th, #content thead th { color: #888; font-size: 12px; font-weight: bold; line-height: 18px; padding: 9px 24px; }
#content tr td { border-top: 1px solid #e7e7e7; padding: 6px 24px; }
#content tr.odd td { background: #f2f7fc; }
#content blockquote {background: url(images/bg_blockquote.jpg) no-repeat scroll left top #E7E6E2;  clear: both;  color: #141310;  display: block;  font-style: italic;  margin: 20px 0;   padding: 20px 20px 10px 45px; -moz-border-radius:10px; border:1px solid #ddd;}
.hentry { margin: 0 0 45px 0; padding-bottom: 45px; 	border-bottom: 1px dashed #ccc; }
.home .sticky {	background: #efefef; border-top: 4px solid #000; margin-left: -20px; margin-right: -20px; padding: 18px 20px; }
.single .hentry , .page .hentry{ margin: 0; border: none;}
.page-title { color: #000; font-size: 14px; font-weight: bold; margin: 0 0 36px 0;}
.page-title span { color: #333; font-size: 16px; font-style: italic; font-weight: normal;}
.page-title a:link, .page-title a:visited { color: #888; text-decoration: none; }
.page-title a:active, .page-title a:hover { color: #ff4b33;}
#content .entry-title { color: #444; font-size: 26px; font-weight: bold; line-height: 1.3em; margin-bottom: 0;}
.entry-title a:link, .entry-title a:visited { color: #444444;	text-decoration: none; }
.entry-title a:active, .entry-title a:hover {	color: #839E35;}
.entry-meta { color: #888;	font-size: 12px;}
.entry-meta abbr, .entry-utility abbr {	border: none;}
.entry-meta abbr:hover, .entry-utility abbr:hover { border-bottom: 1px dotted #666;}
.entry-content, .entry-summary { clear: both;	padding: 30px 0 0 0; }
#content .entry-summary p:last-child { margin-bottom: 12px;}
.entry-content fieldset { border: 1px solid #e7e7e7; margin: 0 0 24px 0; padding: 24px;}
.entry-content fieldset legend { 	background: #fff; color: #000; font-weight: bold;	padding: 0 24px; }
.entry-content input { margin: 0 0 24px 0; }
.entry-content input.file, .entry-content input.button { margin-right: 24px; }
.entry-content label { color: #888; font-size: 12px; }
.entry-content select { margin: 0 0 24px 0; }
.entry-content sup, .entry-content sub { font-size: 10px; }
.entry-content blockquote.left { float: left; margin-left: 0; margin-right: 24px; text-align: right; width: 33%; }
.entry-content blockquote.right { float: right; margin-left: 24px; margin-right: 0; text-align: left; width: 33%; }
.page-link { color: #000; font-weight: bold; margin: 0 0 22px 0; word-spacing: 0.5em; }
.page-link a:link, .page-link a:visited {	background: #f1f1f1; color: #333; font-weight: normal; padding: 0.5em 0.75em; text-decoration: none; }
.home .sticky .page-link a { background: #d9e8f7; }
.page-link a:active, .page-link a:hover { color: #ff4b33; }
body.page .edit-link { clear: both; display: block;}
#entry-author-info { background: #efefef; border-top: 4px solid #000; clear: both; font-size: 14px; line-height: 20px; margin: 24px 0; overflow: hidden; padding: 18px 20px; }
#entry-author-info #author-avatar { background: #fff; border: 1px solid #e7e7e7; float: left; height: 60px; margin: 0 -104px 0 0; padding: 11px; }
#entry-author-info #author-description {	float: left; margin: 0 0 0 104px; }
#entry-author-info h2 { color: #000; font-size: 100%; font-weight: bold; margin-bottom: 0; }

#content .video-player {	padding: 0;}

.entry-utility { clear: both; color: #757575; font-size: 12px; line-height: 18px; font-style: italic;}
.entry-utility a {text-decoration: none;}

.entry-meta { color: #757575; font-size: 13px; font-weight: normal;	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif; text-transform: uppercase; letter-spacing: 1px; font-style: italic; position: relative;}

.entry-meta .date {position: absolute; top: -28px; left: -57px; width: 46px; height: 56px; background: url(images/bg_date.png) no-repeat scroll 0 0 transparent; padding: 6px 0 0 0; font-size: 19px; font-weight: bold; color: #FFF; line-height: 18px; text-align: center; font-style: normal;}
.entry-meta .date .day { padding-left: 6px; }
.entry-meta .date .month{display: block; font-size: 12px; text-transform: uppercase;}

.entry-meta a{ text-decoration: none; color: #757575;}
.entry-meta a:hover{ color: #FF4B33;}
.entry-meta .meta-sep {text-transform: lowercase;}


/* =Images
-------------------------------------------------------------- */

#content img { margin: 0; height: auto; max-width: 640px; width: auto; padding:5px; border:1px solid #ddd;}
#content .attachment img { max-width: 900px; }
#content .alignleft, #content img.alignleft {	display: inline; float: left; margin-right: 24px; margin-top: 4px; }
#content .alignright, #content img.alignright { display: inline;	float: right; margin-left: 24px; margin-top: 4px;}
#content .aligncenter, #content img.aligncenter {	clear: both; display: block; margin-left: auto;	margin-right: auto;}
#content img.alignleft, #content img.alignright, #content img.aligncenter { margin-bottom: 12px; border:1px solid #ddd; padding:5px; }
#content .wp-caption { background: #f1f1f1; line-height: 18px; margin-bottom: 20px; padding: 4px; text-align: center; }
#content .wp-caption img { margin: 5px 5px 0;}
#content .wp-caption p.wp-caption-text { color: #888; font-size: 12px; margin: 5px;}
#content .wp-smiley { margin: 0; }
#content .gallery { margin: 0 auto 18px; }
#content .gallery .gallery-item { float: left; margin-top: 0; text-align: center; width: 33%; }
#content .gallery img {	border: 2px solid #cfcfcf;}
#content .gallery .gallery-caption { color: #888; font-size: 12px; margin: 0 0 12px;}
#content .gallery dl { margin: 0; }
#content .gallery img { border: 10px solid #f1f1f1; }
#content .gallery br+br { display: none;}
#content .attachment img { /* single attachment images should be centered */ 	display: block;	margin: 0 auto;}


/* =Navigation
-------------------------------------------------------------- */

.navigation { color: #888; font-size: 12px; line-height: 18px; overflow: hidden; font-weight: bold;}
.navigation a:link, .navigation a:visited { color: #888; text-decoration: none; padding:0 10px;}
.navigation a:active, .navigation a:hover { color:#839E35; padding:0; }
.nav-previous { float: left; width: 50%;}
.nav-next {	float: right;	text-align: right;	width: 50%;}
#nav-below {	margin: 0;}


/* =Comments
-------------------------------------------------------------- */
#comments {	clear: both;}
#comments .navigation {	padding: 0 0 18px 0;}
h3#comments-title, h3#reply-title {	color: #444; font-size: 20px; font-weight: bold; margin-bottom: 0; }
h3#comments-title {	padding: 24px 0 10px; margin-bottom:30px; border-bottom:1px dashed #ccc; }
.commentlist {	list-style: none;	margin: 0;}
.commentlist li.comment {	border-bottom: 1px solid #e7e7e7; line-height: 24px; margin: 0 0 24px 0; padding: 0; position: relative; }
.commentlist li:last-child { border-bottom: none;	margin-bottom: 0; }
#comments .comment-body ul, #comments .comment-body ol { margin-bottom: 18px;}
#comments .comment-body p:last-child { margin-bottom: 6px; }
#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }
.commentlist ol {	list-style: decimal; }
.commentlist .avatar {/*	position: absolute;	top: 4px;	left: 0;*/	float: left;}
#content .commentlist img.avatar { margin: 10px 19px 10px 0;	padding: 6px; background: #EFEFEF; }
.comment-author { }
.comment-author cite {	color: #444; font-style: normal; font-weight: bold; }
.comment-author .says {	font-style: italic;}
.comment-meta {	font-size: 12px; margin: 0; }
.comment-meta a:link, .comment-meta a:visited { color: #888; text-decoration: none; }
.comment-meta a:active, .comment-meta a:hover { color: #ff4b33; }
.commentlist .even { }
.commentlist .bypostauthor {}
.reply {	font-size: 12px; padding: 0 0 24px 0;}
.reply a, a.comment-edit-link {	color: #888;}
.reply a:hover, a.comment-edit-link:hover { color: #ff4b33; }
.commentlist .children {	list-style: none; margin: 0; }
.commentlist .children li { border: none; margin: 0; padding: 0 0 0 56px; border-left: 1px solid #E7E7E7;	background: transparent url(images/bg_comment.png) 0 40px no-repeat; }
.nopassword, .nocomments { display: none;}
#comments .pingback { border-bottom: 1px solid #e7e7e7; margin-bottom: 18px;	padding-bottom: 18px;}
.commentlist li.comment+li.pingback { margin-top: -6px; }
#comments .pingback p { color: #888; display: block; font-size: 12px;	line-height: 18px; margin: 0; }
#comments .pingback .url { font-size: 13px; font-style: italic; }

/* Comments form */
input[type=submit] { color: #333;}
#respond { border-top: 1px solid #e7e7e7; margin: 24px 0; overflow: hidden;	position: relative; }
#respond p {	margin: 0;}
#respond .comment-notes { margin-bottom: 1em; }
.form-allowed-tags { line-height: 1em; }
.children #respond { margin: 0 48px 0 0;}
h3#reply-title {	margin: 18px 0; }
#comments-list #respond { margin: 0 0 18px 0; }
#comments-list ul #respond { margin: 0;}
#cancel-comment-reply-link {	font-size: 12px; font-weight: normal; line-height: 18px; }
#respond .required { color: #ff4b33;	font-weight: bold;}
#respond label { color: #888;	font-size: 12px; }
#respond input { margin: 0 0 9px;	width: 98%; }
#respond textarea { width: 98%; }
#respond .form-allowed-tags { color: #888; font-size: 12px; line-height: 18px; }
#respond .form-allowed-tags code { font-size: 11px;}
#respond .form-submit { margin: 12px 0;}
#respond .form-submit input { font-size: 14px;	width: auto; padding: 5px 6px; background: #DFDFDF; box-shadow: 0 1px 9px #DFDFDF; -moz-box-shadow: 0 1px 9px #DFDFDF; -webkit-box-shadow: 0 1px 9px #DFDFDF; border: none;}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul { list-style: none; margin-left: 0; padding: 0 30px 0 0;}
.widget-area ul ul { list-style: square; border: none; margin-left: 1.3em; padding: 0;}
.widget_search #s {/* This keeps the search inputs in line */ width: 80%;}
.widget_search #searchsubmit { height: 28px; width: 27px; background: url(images/bg-search.png) no-repeat scroll 0 0 transparent; cursor: pointer; text-indent: -9999px; border: none;  margin-top: 1px; position: absolute; top: 1px; right: 2px;}
.widget_search #searchform { background: #FFF url(images/bg-input.png) repeat-x 0 0; border: 1px solid #ddd; position: relative;}
.widget_search #searchform  input[type="text"] { 	background: none; border: none;}
.widget_search label { display: none;}

.no-results #s {/* This keeps the search inputs in line */ width: 85%;}
.no-results #searchsubmit { height: 28px; width: 27px; background: url(images/bg-search.png) no-repeat scroll 0 0 transparent; cursor: pointer; text-indent: -9999px; border: none;  margin-top: 1px; position: absolute; top: 1px; right: 0;}
.no-results #searchform { background: #FFF url(images/bg-input.png) repeat-x 0 0; border: 1px solid #EEE; position: relative; width: 50%;}
.no-results #searchform  input[type="text"] { 	background: none; border: none; margin: 0;}

.widget-container {	margin: 0 0 30px 0;}
#sidebar .widget-title {	color: #FFF; font-weight: bold; padding: 15px 10px 30px 18px; background: transparent url(images/bg_widget.png) 0 0 no-repeat; margin-right: -60px; z-index: 1001; position: relative; font-size:18px;}
.widget-area a:link, .widget-area a:visited {	text-decoration: none;}
.widget-area a:active, .widget-area a:hover {	text-decoration: underline;}
.widget-area .entry-meta { font-size: 11px;}

#wp_tag_cloud div { line-height: 1.6em;}
#wp-calendar { width: 100%;}
#wp-calendar caption {	color: #222; font-size: 14px; font-weight: bold; padding-bottom: 4px; text-align: left; }
#wp-calendar thead {	font-size: 11px;}
#wp-calendar thead th {}
#wp-calendar tbody { color: #888; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; padding: 3px 0 2px; text-align: center; }
#wp-calendar tbody .pad {	background: none;}
#wp-calendar tfoot #next {	text-align: right;}
.widget_rss a.rsswidget { color: #000; }
.widget_rss a.rsswidget:hover {	color: #ff4b33;}
.widget_rss .widget-title img { width: 11px;	height: 11px; }

/* Main sidebars */

#sidebar{	float: right; /*overflow: hidden; */ width: 240px;  margin-right: -60px; padding-right: 40px; }


/* =Footer
-------------------------------------------------------------- */

#footer { background: #FFF; clear: both; margin: 0 -21px 0 -21px; border-left: 1px solid #DFDFDF;}

#footer-widget-area { overflow: hidden; margin: 0 40px; padding: 36px 0; border-top: 4px solid #444;}
#footer-widget-area .widget-area { float: left; margin-right: 40px; width: 264px; }
#footer-widget-area  .widget-title { margin: 0 0 10px 0; font-weight: bold;}
#footer-widget-area #third { margin-right: 0; width: 284px;}


#colophon {	background: #333; margin-top: -4px;	overflow: hidden; padding: 18px 40px; width : 902px;}
#site-info {	float: left; font-size: 18px; font-weight: bold; width: 500px; }
#site-info a { color: #FFF; text-decoration: none; }
#site-generator { float: right;	width: 335px; font-style: italic;	position: relative;}
#site-generator a {color: #FFF; line-height: 16px; text-decoration: none; }
#site-generator a:hover { text-decoration: underline;}
img#wpstats { display: block; margin: 0 auto 10px;}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre { -webkit-text-size-adjust: 140%; }
code { -webkit-text-size-adjust: 160%; }
#access, .entry-meta, .entry-utility, .navigation, .widget-area { -webkit-text-size-adjust: 120%; }
#site-description { -webkit-text-size-adjust: none; }


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body { background: none !important;}
	#wrapper { clear: both !important; display: block !important; float: none !important; position: relative !important; }
	#colophon { 	border-top: 2pt solid #000; }
	#site-title, #site-description {	float: none; line-height: 1.4em; margin: 0; padding: 0;	}
	#site-title { font-size: 13pt; }
	.entry-content { font-size: 14pt; line-height: 1.6em; }
	.entry-title { font-size: 21pt; }
	#access, #branding img,	#respond, .comment-edit-link, .edit-link, .navigation, .page-link, .widget-area { display: none !important;	}
	#container,	#footer { margin: 0; 	width: 100%; }
	#content, .one-column #content { 	margin: 24pt 0 0; 	width: 100%; }
	.wp-caption p {	font-size: 11pt; }
	#site-info,	#site-generator { float: none;	width: auto; }
	#colophon { 	width: auto;}
	img#wpstats { display: none;	}
	#site-generator a {	margin: 0;	padding: 0;	}
	#entry-author-info { 	border: 1px solid #e7e7e7; }
	#main {	display: inline;}
	.home .sticky {	border: none; }
}