/* -----------------------------------------------------------------------


 Blueprint CSS Framework 0.9
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:14px;color: #000000; background:#F2F2F2; /* Resets 1em to 10px */
	font-family: arial;
}
h1, h2, h3, h4, h5, h6 {font-weight:bold;color: #000000 ; font-family: Helvetica, Arial, Trebuchet MS;font-style:normal;margin:10px 0 0 0;}
h1 {font-size:24px; font-weight:bold; font-stretch:condensed;margin:0;}
h2 {font-size:18px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:14px;font-style: italic;}
h6 {font-size:13:}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color: #000000;}
a { color:#000000;}
a:hover{color: #FF0000;border-bottom:1px dotted #000;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#F9F9F9;
border:1px dotted #BBBBBB;height:25px;width:212px;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:320px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
#searchsubmit {vertical-align:middle;}
#submit {

	background:url("images/divider.gif") repeat-x scroll center top #CCCCCC;
	border-bottom:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
	height:40px;
	padding:5px;
}

#comment{clear:both;}

/* grid.css */
.container {

	background:none repeat scroll 0 0 #FFFFFF;
	border-left:1px solid #E7E7E6;
	border-right:1px solid #E7E7E6;
	margin:0 auto;
	padding:0 60px 50px;
	width:860px;

}
.showgrid {background:url(src/grid.png);}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}
.last, div.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:860px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24, div.span-24 {width:950px;margin:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important;}
input.span-1, textarea.span-1 {width:18px!important;}
input.span-2, textarea.span-2 {width:58px!important;}
input.span-3, textarea.span-3 {width:98px!important;}
input.span-4, textarea.span-4 {width:138px!important;}
input.span-5, textarea.span-5 {width:178px!important;}
input.span-6, textarea.span-6 {width:218px!important;}
input.span-7, textarea.span-7 {width:258px!important;}
input.span-8, textarea.span-8 {width:298px!important;}
input.span-9, textarea.span-9 {width:338px!important;}
input.span-10, textarea.span-10 {width:378px!important;}
input.span-11, textarea.span-11 {width:418px!important;}
input.span-12, textarea.span-12 {width:458px!important;}
input.span-13, textarea.span-13 {width:498px!important;}
input.span-14, textarea.span-14 {width:538px!important;}
input.span-15, textarea.span-15 {width:578px!important;}
input.span-16, textarea.span-16 {width:618px!important;}
input.span-17, textarea.span-17 {width:658px!important;}
input.span-18, textarea.span-18 {width:698px!important;}
input.span-19, textarea.span-19 {width:738px!important;}
input.span-20, textarea.span-20 {width:778px!important;}
input.span-21, textarea.span-21 {width:818px!important;}
input.span-22, textarea.span-22 {width:858px!important;}
input.span-23, textarea.span-23 {width:898px!important;}
input.span-24, textarea.span-24 {width:938px!important;}
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
div.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #eee;}
.pull-1 {margin-left:-40px;}
.pull-2 {margin-left:-80px;}
.pull-3 {margin-left:-120px;}
.pull-4 {margin-left:-160px;}
.pull-5 {margin-left:-200px;}
.pull-6 {margin-left:-240px;}
.pull-7 {margin-left:-280px;}
.pull-8 {margin-left:-320px;}
.pull-9 {margin-left:-360px;}
.pull-10 {margin-left:-400px;}
.pull-11 {margin-left:-440px;}
.pull-12 {margin-left:-480px;}
.pull-13 {margin-left:-520px;}
.pull-14 {margin-left:-560px;}
.pull-15 {margin-left:-600px;}
.pull-16 {margin-left:-640px;}
.pull-17 {margin-left:-680px;}
.pull-18 {margin-left:-720px;}
.pull-19 {margin-left:-760px;}
.pull-20 {margin-left:-800px;}
.pull-21 {margin-left:-840px;}
.pull-22 {margin-left:-880px;}
.pull-23 {margin-left:-920px;}
.pull-24 {margin-left:-960px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -40px 1.5em 40px;}
.push-2 {margin:0 -80px 1.5em 80px;}
.push-3 {margin:0 -120px 1.5em 120px;}
.push-4 {margin:0 -160px 1.5em 160px;}
.push-5 {margin:0 -200px 1.5em 200px;}
.push-6 {margin:0 -240px 1.5em 240px;}
.push-7 {margin:0 -280px 1.5em 280px;}
.push-8 {margin:0 -320px 1.5em 320px;}
.push-9 {margin:0 -360px 1.5em 360px;}
.push-10 {margin:0 -400px 1.5em 400px;}
.push-11 {margin:0 -440px 1.5em 440px;}
.push-12 {margin:0 -480px 1.5em 480px;}
.push-13 {margin:0 -520px 1.5em 520px;}
.push-14 {margin:0 -560px 1.5em 560px;}
.push-15 {margin:0 -600px 1.5em 600px;}
.push-16 {margin:0 -640px 1.5em 640px;}
.push-17 {margin:0 -680px 1.5em 680px;}
.push-18 {margin:0 -720px 1.5em 720px;}
.push-19 {margin:0 -760px 1.5em 760px;}
.push-20 {margin:0 -800px 1.5em 800px;}
.push-21 {margin:0 -840px 1.5em 840px;}
.push-22 {margin:0 -880px 1.5em 880px;}
.push-23 {margin:0 -920px 1.5em 920px;}
.push-24 {margin:0 -960px 1.5em 960px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff; }
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

//*HEADER*//
#header {
text-align:left;

height:80px;

}
#header h1{

font-family:helvetica;
font-size:35px;
margin:35px 0 20px 0;
text-transform:none;

}

#header h1 a{color:#000000;}

#header img{

margin-top:15px
}
.menu {

	border-bottom:1px dotted #000000;
	clear:both;
	height:32px;
	margin:0;
	padding:3px 0 2px;
}

.menu ul{list-style:none;margin:0;padding:4px 0 0;}
.menu ul li{float:left;margin:0 10px 0 0;}
.menu a{font-family: Arial;font-size: 14px;padding:8px 8px 9px;}
.menu a:hover{font-family: Arial;font-size: 14px;text-decoration: none;border:none;}

.menu-menu1-container ul{list-style:none;margin:0;padding:4px 0 0;}
.menu-menu1-container ul li{float:left;margin:0 10px 0 20px;}
.menu-menu1-container ul li a{font-family: Arial;font-size: 14px;padding:8px 8px 9px;}
.menu-menu1-container ul li a:hover{font-family: Arial;font-size: 14px;text-decoration: none;}

.menu-menu2-container ul{list-style:none;margin:0;padding:4px 0 0;}
.menu-menu2-container ul li{float:left;margin:0 10px 0 20px;}
.menu-menu2-container ul li a{font-family: Arial;font-size: 14px;padding:8px 8px 9px;}
.menu-menu2-container ul li a:hover{font-family: Arial;font-size: 14px;}

#lefttextheader {
height:235px;
line-height:35px;
}

#formheader {
height:301px;
background:url(images/mianheader.png) center no-repeat;
margin-top:0px;


}

#menuheader {
height:60px;

}

#rightcol {


margin-top:30px;

}

#maincol {
margin-top:10px;

padding-top:10px;


}

#mainscroll {

height:259px;
 background:url(images/mainscroll.png) center no-repeat ;
 width:977px;

}


#rightcol h2 {

padding-top:5px;
padding-bottom:5px;

width:256px;

font-size:12px;
font-family:arial;
font-weight:bold;
margin-top:15px;
margin-bottom:10px;
color:#CCCCCC;
font-size:16px;
text-transform:uppercase;



}


#headline {

padding-top:5px;
padding-bottom:5px;

width:256px;

font-size:12px;
font-family:Arial;
font-weight:bold;
margin-top:15px;
margin-bottom:15px;
color:#CCCCCC;
font-size:16px;

text-transform:uppercase;
}


#subheadline {
margin-left:10px;
margin-top:10px;
margin-bottom:20px;
font-family:Arial;
color:#000000;
font-size:14px;
font-weight:bold;

}

#rightcol  ul {
margin-left:0px;
list-style:none;

}

#rightcol  ul li {
list-style:none;
margin-bottom:15px;

}

#rightcol  ul li a{


}

#rightcol  ul li a:hover {
color:#0099FF;


}

#bluebox {
background:#F2F9FC;
line-height:35px;
margin-top:10px;
margin-bottom:10px;


}

#maincontent {
width:100%;


}

#title {

font-size:14px;
margin-top:10px;
}







#title h2{

font-family:Arial;
color:#000000;
font-size:22px;
font-weight:bold;

}

#title h2 a{

color:#000000;

}

#title h2 a:hover{

color:#000000;

}

#left  {
float:left;
display:inline;
margin-left:15px;

}

#right {
float:right;
display:inline;
}


#postback {
font-size:12px;


}




#postcontent {
margin-top:10px;
font-size:12px;
font-family:arial;
}


/************************************************
*	Navigation     								*
************************************************/


#nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-left:20px;
	margin:auto;
	margin-top:1px;
	text-transform:uppercase;
	text-align:center;
	
	
	text-decoration:none;
	font-size: 1.2em;
	font-family:arial;
	line-height:35px;
	height:35px;

	
	}
	
	#mynavi {
	text-align:center;

	height:100px;
	}
	
#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: arial;
	}

#nav a, #nav a:visited {
	background:url(images/menu.jpg) no-repeat center bottom;

	font-weight:bold;  
	display: inline;

    margin: 0px;
	padding: 10px 10px 10px 10px;
text-decoration:none;

	}
	
#nav a:hover {
		background:url(images/menu.jpg) no-repeat center bottom;
	color: #FF6600;
	display: inline;

    margin: 0px;
	padding: 10px 10px 10px 10px;
text-decoration: none;  
	}

#nav li {
	float: left;
	margin: 0px;
	padding: 0px;
		display: inline;
		list-style:disc;
		display:inline;
	}
	
#nav li li {
	float: left;
	margin: 0px;
	padding: 0px;
	display: inline;
	
	}
	
#nav li li a, #nav li li a:link, #nav li li a:visited {
text-decoration:none;
	width: 160px;
	float: none;
	margin: 0px;
	padding: 20px 30px 20px 30px;
		display: inline;
		padding-right:35px;
	
	}
	
#nav li li a:hover, #nav li li a:active {
	background: #000066;
	padding: 15px 30px 15px 10px;
	}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
		display: inline;
	}

#nav li:hover ul {
	left: auto;
	display: block;
		display: inline;
	}
	
#nav li:hover ul, #nav li.sfhover ul {
	display: inline;
	left: auto;
	}
	


#navareasmall3 {
padding:0px;
float:left;

list-style:none;

padding-top:0px;
height:auto;
position:relative;





font-family:arial;


border:none;



}






#navareasmall3 ul{
padding:0px;
margin:0px;
width:800px;
font-size:12px;













	



}

#navareasmall3 ul li{
display:inline;
padding-right:20px;
padding-left:20px;
border-right: #990066 1px solid;


}


 


#navareasmall3  ul li a{



text-decoration: none;


line-height:25px;
border:none;
}


#navareasmall3 ul li a:hover{




border:none;
color: #CCCCCC;
  text-decoration: none;
 
 
}

#navareasmall3 ul li a:visited{

  text-decoration: none;
  border:none;
} 

.widget-container{margin:0 0 20px;}
.widget-container p{}
.widget-container a{}
.tag-link-8{}
h3.widget-title{
	color:#000000;
	float:right;
	font-size:18px;
	font-weight:bold;
	margin:0 0 10px 10px;
	padding:0;
	width:100%;

}

ul.sidemenu  {
float:left;
list-style:none;
margin-left:0px;
font-size:12px;
width:198px;

}

ul.sidemenu  li{
display:block;
line-height:10px;
margin:0px;


}

ul.sidemenu  li a{
display:block;
color:#1e4180;
text-decoration:none;
height:100%;
width:100%;
padding:5px;

}

ul.sidemenu  li a:hover{
padding:5px;
display:block;
color:#FFFFFF;
text-decoration:none;
background:#8f8f91;
height:100%;
width:100%;
}


#mainmessage  {
border-bottom:solid 1px #d3d3d3;
font-family:arial;
color:#666666;
background: url(images/mainmessage.jpg) center no-repeat;
height:198px;


}

#mainmessage  h2{
color:#777676;
font-family:arial;
font-size:18px;
font-weight:bold

}



#mainmessage  ul{

}
#mainmessage  ul li{
list-style:none;

}


#sidetext {
font-size:17px;



}


#mainmessage ul{
list-style:none;

}

#mainmessage ul li{
list-style:none;
}

#optin {
display:block;
width:289px;
height:73px;
background:url(images/optin.jpg) center no-repeat;
margin-top:15px;

}

#submit1  {
background:url(images/subscribe.jpg) center no-repeat;
width:89px;
height:32px;


}

input {
height:20px;
background:none;
border:none;
margin-bottom:10px;

}

#myinp {
background:none;
border:none;
margin-bottom:10px;
margin-left:50px;
width:200px;

}

 ul.twitter {

 
 
 }
 
 a.twitter-link {
 color:#f9ac08;
 
 
 }
 
 li.twitter-item {
 font-size:12px;
 
 }

  #twitter  {
font: "Times New Roman", Times, serif;
font-size:16px;


}

 #twitter   ul{
list-style:none;
margin-left:0px;
font-size:16px;

}

 #twitter  ul li{
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px dotted #666666;
font-size:16px;
}

 #twitter  ul li.twitter-item {
font-size:14px;



}
  #twitter  ul li a{
color:#FF6600;
font-size:16px;
}
#leftsidebar {
width:83px;
border-right:1px solid #030303;

}

#leftsidebar ul {
list-style:none;
margin:0px;
color:#878787;
font-size:12px;
font-family:arial;
line-height:23px;

}
#leftsidebar ul a{
text-decoration:none;
color:#CCC;
font-weight: 500;



}

#leftsidebar ul a:hover{
text-decoration:none;
color:#000;
font-weight: 500;



}


#spacer {
height:38px;

}

#spacer2 {
height:72px;

}

#featuredthumb  {

	border-bottom:1px dotted #000000;
	display:block;
	height:350px;
	margin:0 0 30px;
	width:860px;

}

#featuredthumb-small{
	height:250px;
	width:510px;
}

#main-post{

	clear:both;
	margin:0 0 10px;
}

#sub-posts{

	float:left;
	margin:20px 20px 0 0;
	width:510px;
}

#maintitle {
padding:0px;
margin:0px;
position: relative;
}

#maintitle h2{margin:0;padding:0;font-size:24px;
}
#maintitle a{


}

#maintitle a:hover{
color:#FF0000;

}

.date-title{
	color:#666666;
	font:italic 14px Georgia,serif;
	margin:0;
	padding:0 0 10px;
	text-align:left;
}

.date-title a{border-bottom: 1px dotted #000000;}
.subtitles {

	border-bottom:1px dotted #000000;
	float:left;
	margin:0 0 55px 0;
	padding:0 0 10px;
	width:510px;
	}


.subtitles h4 {
	border-bottom:medium none;
	clear:both;
	font-size:18px;
	margin:0;
	padding:10px 0 0;
	width:100%;
	font-weight: bold;
	}


.subtitles p {
	clear:both;
	font-size:14px;
	margin:5px 0 0;
	padding:0;
	}
	

.subtitles a img {
	display: block;
	margin: 0px;
	padding: 0px;
        border: 1px solid #DDD;
	}


.subtitles a{
	color:#000000;
	}


.subtitles a:hover{
	color:#FF0000;
	border-bottom: 1px dotted #000000;

}

.meta{
	color:#666666;
	font-family:arial;
	font-size:10px;
	font-weight:normal;
	margin:0;
	text-transform:none;
}

#container {
		
}
		
#container p {

	
	float:left;
	font-family:Arial;
	font-size:14px;
	line-height:20px;
	margin:0 0 10px;
	padding:0 0 20px;
	text-align:justify;
	width:510px;
				
}

#maintext {

	font-size:14px;
	font-family: Arial;
	clear:both;
}
			
#rightsidebar{

	color:#000000;
	float:right;
	font-size:14px;
	list-style:none outside none;
	margin:20px 0 0 60px;
	width:260px;
	
}

#rightsidbar h3{font-size: 18px;font-weight: bold; color: #000;}

#rightsidebar p{font-size: 14px;}



#rightsidebar ul{

	list-style:none outside none;
	margin:0 0 40px;
	padding:0;
	width:260px;

}

#rightsidebar  ul li {

	border-bottom:1px dotted #000000;
	clear:both;
	list-style:none outside none;
	margin-bottom:4px;
	padding:2px 0 2px 10px;

}

#rightsidebar  ul li a{

	color:#000000;
	font-size:14px;

}

#rightsidebar  ul li a:hover {

	color:#FF0000;
	border-bottom: none;
	

}

#rightsidebar img{

	padding:4px;
	background:#d3d4d4;
}

#top-widget{

	background:url("images/divider.gif") repeat-x scroll center top #F2F2F2;
	border-bottom:1px solid #CDCDCD;
	border-left:1px solid #CDCDCD;
	border-right:1px solid #CDCDCD;
	color:#000000;
	float:right;
	font-size:14px;
	list-style:none outside none;
	margin:-30px 0 30px 0;
	padding:20px;
	width:240px;
	
}

#top-widget h2{font-size: 18px;font-weight: bold; color: #000;margin:0;width:100%}

#top-widget p{font-size: 14px;}



#top-widget ul{

	list-style:none outside none;
	margin:0 0 40px;
	padding:0;
	width:260px;

}

#top-widget ul li {

	border-bottom:1px dotted #000000;
	clear:both;
	list-style:none outside none;
	margin-bottom:4px;
	width:100%;
	padding:2px 0 2px 10px;

}

#top-widget  ul li a{

	color:#000000;
	font-size:14px;

}

#top-widget  ul li a:hover {

	color:#FF0000;
	border-bottom: none;
	

}

#top-widget img{

	padding:4px;
	background:#d3d4d4;
}

.textwidget{
	
	margin:0;
	padding:0 0 2px;
}

.textwidget p{margin:0;padding:0 0 0 10px;}

.textwidget ul{
	
	margin: 0 0 0 10px;

}

#whitef{

	-moz-border-radius:3px 3px 3px 3px;
	background:none repeat scroll 0 0 #F2F2F2;
	border:1px solid #FFFFFF;
	margin:1px;
	padding: 20px;

}
/*Comments*/
#comments-approved{margin:0 0 20px 0;}
#comments-approved h3{
	clear:both;
	color:#000000;
	font-size:16px;
	font-weight:bold;
	margin:20px 0 10px 0;
	text-align:left;
	width:100%;
}
#comments-reply{
	
	padding:0;
}

#comments-reply p{float:left;clear:both;margin:0;}
#comments-reply h3{
	clear:both;
	color:#000000;
	font-size:16px;
	font-weight:bold;
	margin:20px 0 10px 0;
	text-align:left;
	width:100%;
}
#footerlinks {
	background:url("images/divider.gif") repeat-x scroll left top #F2F2F2;
	clear:both;
	font-size:14px;
	margin:0 auto 0;
	padding:1px 60px;
	width:950px;
}

#footerlinks h2 {

	font-size:12px;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
	line-height:20px;
	height:20px;
	width:100%;
	margin-bottom:25px;
	

}


.footer-left {
	
	color:#BBBBBB;
	float:left;
	margin:1px 0 20px;
	padding:10px 30px 0 30px;
	width:860px;

}

.footer-left a{
	border-bottom:1px dotted #000000;
	color:#BBBBBB;
	font-size:14px;}

.footer-left a:hover{color: #FF0000;}

.footer-left li{
	float:left;
	margin:0px;
	padding:0px;
	margin-bottom:14px;
	list-style: none;
}

li.footer-right {
	float:right;
	margin:0 0 14px;
	padding:0px;
	list-style: none;
}

#postfoot{
	clear:both;
	color:#000000;
	font-family:Arial;
	padding:20px 0 0;

}
#postfoot p{}
#postfoot img{float:right;}


#postfoot li{

	background:url("images/divider.gif") repeat-x scroll left top #F2F2F2;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
	padding:20px;
}

#postfoot ol{

	border-bottom:1px solid #BBBBBB;
	clear:both;
	margin:0;
	padding:0 0 0 0;
	text-align:left;
	width:510px;
}
#respond h3  {

	width:100%;
}

#maintext h3  {
	width:100%;
	display:block;
	margin-bottom:15px;
	height:18px;

}

#container h3  {

	width:100%;
	display:block;
	margin-bottom:15px;
	height:18px;

}