/*
Theme Name: Extricate
Theme URI: http://snoother.com/extricate/
Author: Tom O'Doherty
Author URI: http://snoother.com/
Description: A grid-based, minimalist WordPress theme for bloggers
Version: 1.0
License: GNU General Public License
Tags: custom-menu, sticky-post, microformats
*/

/* ========================================================= */
/* Resets, HTML5 display fixes, general housekeeping */
/* ========================================================= */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}

em, i {font-style: oblique;}
h1, h2, h3, h4, h5, h6, strong, b {font-weight: bold;}

/* Typeface options */
#main.helvetica article.post, #main.helvetica article.page, #main.helvetica div#sidebar, #main.helvetica ol.commentlist 
{font-family: Helvetica, Arial, sans-serif;}
#main.georgia article.post, #main.georgia article.page, #main.georgia div#sidebar, #main.georgia ol.commentlist 
{font-family: Georgia, "Times New Roman", Times, serif;}
#main.verdana article.post, #main.verdana article.page, #main.verdana div#sidebar, #main.verdana ol.commentlist 
{font-family: Verdana, Helvetica, Arial, sans-serif;}
#main.geneva article.post, #main.geneva article.page, #main.geneva div#sidebar, #main.geneva ol.commentlist 
{font-family: Geneva, Helvetica, Arial, sans-serif;}

/* A couple of WordPress defaults */
.aligncenter {display: block; margin-left: auto; margin-right: auto;}
.alignleft {float: left;}
.alignright {float: right;}

/* ========================================================= */
/* All screen styles */
/* ========================================================= */

@media screen {

/* Basics */
body {background: #eee; color: #333; font-family: Helvetica, Arial, sans-serif; text-align: center;}
#top, header#wrap-nav nav, #main, footer#colophon {vertical-align: middle; margin: 0 auto; text-align: left; clear: both;}
#wrap-main {background: #fff;}
#main {overflow: hidden;}

/* Links */
a, a:link {color: #4064b6;}
a:visited {color: #4064b6;}
a:hover {color: #fff; background: #4064b6;}
a:active {color: #4064b6;}

/* Text formatting and typography > Lists > ul, ol, dl */
#main dl dt {font-weight: bold;}
#main article.post ol li, #main article.page ol li, #main ol.commentlist ol li {background: none; list-style-type: decimal;}
#main article.error404 div.widget ul {padding: 0;}

/* Text formatting and typography > Blockquotes */
#main blockquote {background: #d0d0d0;}
#main ol.commentlist blockquote {background: #fff;}
#main blockquote blockquote {background: #fff;}
#main blockquote blockquote blockquote {background: #d0d0d0;}
#main ol.commentlist blockquote blockquote {background: #d0d0d0;}
#main ol.commentlist blockquote blockquote blockquote {background: #fff;}

/* Text formatting and typography > Other things */
#main table {background: #eee; width: 100%;}
#main code {background: #ccc; font-weight: bold;}
#main ol.commentlist code {background: #eee; font-weight: bold;}
#main pre {background: #d0d0d0;}
#main ol.commentlist pre {background: #fff;}
div#respond h3 {border: none;} /* Comment reply link text */
div#respond h3 small {text-align: right; float: right;} /* Comment reply link text */
#main .page-link {background: #eee; font-weight: bold;}
#main .sticky .page-link {background: #fff;}

/* Text formatting and typography > Images, video */
#main img, #main a img {vertical-align: bottom;}
#main img.wp-smiley {border: none;}

/* Forms > basics */
#main form input, #main form textarea {background: #eee; font-family: Arial, Helvetica, sans-serif;}

/* Top */
#top h1 a, #top h2 {float: left;}
#top h1 a {background: none; color: #000; text-decoration: none; font-weight: bold;}
#top h2 {color: #666;}

/* Main nav */
.skip-link {position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px);}
#wrap-nav {clear: both; background: #fff;}
#no-nav {clear: both; background: #fff;}
#wrap-nav nav {clear: both; overflow: hidden;}
#wrap-nav nav .menu ul li {float: left;}
#wrap-nav nav ul ul, #wrap-nav nav ul ul ul, #top nav ul ul ul ul {margin: 0;} /* no minus-padding on dropdowns */
#wrap-nav nav ul li a {display: block; text-decoration: none;}
#wrap-nav nav ul li ul {position: absolute; left: -999em; width: 200px;}

/* Posts, Pages > Basics */
#main article.post, #main article.page {clear: both; float: left;}
#main article.post div.entry-meta {color: #888;}

/* Posts > Sticky posts */
#main article.sticky {background: #eee;}

/* Posts, Pages > Top */
#main header.entry-header {overflow: hidden;}
#main header.entry-header h1 a {text-decoration: none; color: #000;}
#main header.entry-header h1 a:hover {color: #4064b6; background: none;}
#main p.hang-right {margin: 0;}
#main p.hang-right a {color: #ccc; background: none; text-decoration: none;}

/* Posts > Meta */
#main article.post div.entry-meta ul li {background: none;}

/* Posts > Footer */
#main article.post footer.entry-extras {background: #eee; color: #888; clear: both;}

/* Posts, Pages > Comments basics */
div#comments {clear: both;}
div#comments h2#comments-header, div#comments ol.commentlist li {background: #d0d0d0;}
div#comments ol.commentlist li.comment div.comment-content ul li, div#comments ol.commentlist li.comment div.comment-content ol li {margin: 0; padding: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;} /* resets for comment list items */

/* Posts, Pages > Threaded comments */
div#comments ol.commentlist ul.children li.comment {background: #fff;}
div#comments ol.commentlist ul.children li.comment ul.children li.comment, div#comments ol.commentlist ul.children li.comment ul.children li.comment footer {background: #d0d0d0;}
div#comments ol.commentlist ul.children li.comment ul.children li.comment ul.children li.comment, div#comments ol.commentlist ul.children li.comment ul.children li.comment ul.children li.comment footer {background: #fff;}

/* Posts, Pages > Comment form */
#main div#comments p.nocomments, #main div#comments .nopassword {clear: both; background: #eee; color: #000; text-align: center;}
form#commentform {background: #eee;}
form#commentform p {padding: 0;}
form#commentform p.comment-notes, form#commentform p.form-allowed-tags {background: #d0d0d0; clear: both;}
form#commentform label {font-weight: bold;}
form#commentform input, form#commentform textarea {background: #fff; width: 100%;}
form#commentform input#submit {background: #4064b6; color: #fff; margin: 0;}
form#commentform span.required {color: #f00; font-weight: bold;}

/* Posts, Pages > Banner header (for archives, etc.) */
#main header.page-header h1.banner {background: #eee; text-align: center; font-weight: normal;}

/* Base-of-page nav */
nav#older-newer {float: left; width: 100%; clear: both;}
nav#older-newer div.older {float: left;}
nav#older-newer div.newer {float: right;}

/* Search results */
div.entry-summary {background: #d0d0d0;}

/* 404 widgets */
#main article.error404 div.widget {background: #eee;}

/* ========================================================= */
/* Desktop screen styles */
/* ========================================================= */

/* Basics */
body {font-size: 12px;}
#top, header#wrap-nav nav, #main, footer#colophon {padding: 0 60px 0 60px;} /* Add ghost columns - final width 980px */
#top, header#wrap-nav nav {width: 820px;}
#main, footer#colophon {width: 840px;}
#wrap-main {border-bottom: 1px solid #333; padding: 0 0 35px 0;}

/* Blocks */
.left-01col, .left-02col, .left-03col, .left-04col, .left-05col, .left-06col, 
.left-07col, .left-08col, .left-09col, .left-10col, .left-11col, .left-12col 
{float: left; margin: 0 10px 0 10px;}
.right-01col, .right-02col, .right-03col, .right-04col, .right-05col, .right-06col, 
.right-07col, .right-08col, .right-09col, .right-10col, .right-11col, .right-12col
{float: right; margin: 0 10px 0 10px;}

.left-01col, .right-01col {width: 50px;}
.left-02col, .right-02col {width: 120px;}
.left-03col, .right-03col {width: 190px;}
.left-04col, .right-04col {width: 260px;}
.left-05col, .right-05col {width: 330px;}
.left-06col, .right-06col {width: 400px;}
.left-07col, .right-07col {width: 470px;}
.left-08col, .right-08col {width: 540px;}
.left-09col, .right-09col {width: 610px;}
.left-10col, .right-10col {width: 680px;}
.left-11col, .right-11col {width: 750px;}
.left-12col, .right-12col {width: 820px;}

/* Text formatting and typography > Basics */
#main p, #main ul, #main ol, #main dl, #main table, #main h3, #main address, #main pre, 
footer#colophon p, footer#colophon ul, footer#colophon dl 
{font-size: 12px; line-height: 20px; padding: 0 0 9px 0;}
#top h1, #top h2 {font-size: 16px;}
#main h1, footer#colophon h1, #main h2, div#respond h3 
{font-size: 14px; line-height: 16px; padding: 0 0 8px 0; font-weight: normal;}
#main h3 {border-bottom: 1px solid #888; padding: 0 0 4px 0; margin: 0 0 9px 0;}
#main h4, #main h5, #main h6 {line-height: 20px; padding: 0 0 9px 0;}
#main h4 {font-size: 11px;}
#main h5 {font-size: 10px;}
#main h6 {font-size: 9px;}
#main div#sidebar aside h1, footer#colophon h1, #main article.error404 div.widget h2 {margin: 0 0 10px 0; border-bottom: 1px solid #666;}

/* Text formatting and typography > Lists > ul, ol, dl */
#main ul li, #main dl dd, div#comments ol.commentlist li.comment div.comment-content ul li, footer#colophon ul li {background: url(assets/img/arrow.gif) left top no-repeat; padding-left: 10px;}
#main article.post ol li, #main article.page ol li, #main ol.commentlist ol li, div#comments ol.commentlist li.comment div.comment-content ol li {padding-left: 5px; margin-left: 30px;}

/* Text formatting and typography > Blockquotes */
#main blockquote {padding: 7px 12px 2px 12px; margin: 0 0 9px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

/* Text formatting and typography > Other things */
#main table {border: 1px solid #d0d0d0; padding: 0; margin: 0 0 9px 0;}
#main address {padding-left: 10px;}
#main pre {padding: 10px; margin: 0 0 9px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
div#respond h3 small {font-size: 11px;}
#main .page-link {border: 1px solid #ccc; margin: 0 0 10px 0; padding: 6px 7px 5px 7px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

/* Text formatting and typography > Images, video */
#main img {border: 1px solid #666;}
#main a img {border: 1px solid #4064b6;}
#main article.post img.hang-left {margin: 0 0 0 -140px;}
#main article.post iframe {margin: 0;}
#main article.post iframe.hang-left {margin: 0 0 0 -140px;}

/* Forms > basics */
#main form input, #main form textarea {border: 1px solid #666; font-size: 11px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
#main form input {height: 20px;}

/* Top */
#top h1 a, #top h2 {line-height: 16px; height: 66px; padding: 53px 0 0 0;}
#top h2 {margin-left: 20px; font-weight: normal;}

/* Main nav */
#wrap-nav {border-top: 1px solid #333; border-bottom: 1px solid #333;}
#no-nav {border-top: 1px solid #333;}
#wrap-nav nav .menu ul {margin: 0 0 0 -12px;}
#wrap-nav nav ul li a {height: 16px; line-height: 16px; font-size: 16px; padding: 13px 12px 10px 12px;}
#wrap-nav nav ul li a:hover {background: #fff url(assets/img/nav.gif) center bottom no-repeat; color: #3873f7;}
#wrap-nav nav ul li.current_page_item a, #wrap-nav nav ul li.current_page_item a:hover {background: url(assets/img/nav.gif) center bottom no-repeat; color: #000;}
#wrap-nav nav ul li:hover ul {left: auto;}
#wrap-nav nav ul li ul {margin: 0 0 0 12px; border-top: 1px solid #888;}
#wrap-nav nav ul li ul li {float: none;}
#wrap-nav nav ul li ul li a {background: #eee; font-size: 12px; display: block; padding: 7px 9px 7px 9px; float: left; width: 180px; height: auto; border: 1px solid #888; border-top: none;}
#wrap-nav nav ul li ul li a:hover {background: #bdc3d2; color: #fff;}

/* Search form */
#wrap-nav nav form#searchform {float: right; position: relative;}
#wrap-nav nav form#searchform label {text-indent: -9999px; display: block; height: 8px;}
#wrap-nav nav form#searchform input {border: none; padding: 0; margin: 0;}
#wrap-nav nav form#searchform input#s {background: url(assets/img/search.gif) left top no-repeat; color: #888; padding: 5px 2px 3px 4px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; width: 184px;height: 15px;}
#wrap-nav nav form#searchform input#s:focus {color: #000;}
#wrap-nav nav form#searchform input#searchsubmit {position: absolute; right: 0; top: 8px;}

/* Posts, Pages > Basics */
#main article.post, #main article.page {margin: 55px 0 0 0;}
#main .left-08col article.post, #main .left-08col article.page {width: 540px;}
#main .left-09col article.post, #main .left-09col article.page {width: 610px;}
#main article.post div.entry-meta {float: left; width: 120px; margin: 2px 20px 0 0;}
#main article.post div.entry-content {float: left;}
#main .left-08col article.post div.entry-content {width: 400px;}
#main .left-09col article.post div.entry-content {width: 470px;}

/* Posts > Sticky posts */
#main article.sticky {border: 1px solid #888; padding: 4px; margin: 50px 0 0 -5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

/* Posts, Pages > Top */
#main header.entry-header {border-bottom: 1px solid #666; margin: 0 0 10px 0;}
#main header.entry-header h1 {float: left;}
#main p.hang-right {font-size: 14px; line-height: 16px; padding: 0 0 8px 0; float: right;}

/* Posts > Meta */
#main article.post div.entry-meta ul li {padding: 0 0 7px 0; margin: 0 0 6px 0; border-bottom: 1px solid #e0e0e0; line-height: 16px;}

/* Posts > Footer */
#main article.post footer.entry-extras {padding: 4px 4px 4px 7px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
#main article.post footer.entry-extras p {padding: 3px 0 2px 0; font-size: 11px; line-height: 11px;}
#main article.post footer.entry-extras ul.extras-social {padding: 0; float: right; font-size: 11px; line-height: 11px;}
#main article.post footer.entry-extras ul.extras-social li {background: none; float: left; padding: 0; margin: 0 0 0 2px;}
#main article.post footer.entry-extras ul.extras-social li a img {border: none; vertical-align: bottom; background: url(assets/img/social.png) left top no-repeat;}
#main article.post footer.entry-extras ul.extras-social li a:hover {background: none;}

#main article.post footer.entry-extras ul.extras-social li a img.meta-social-twitter {background-position: -140px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-twitter {background-position: -140px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-reddit {background-position: -60px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-reddit {background-position: -60px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-facebook {background-position: -40px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-facebook {background-position: -40px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-tumblr {background-position: -120px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-tumblr {background-position: -120px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-vkontakte {background-position: -160px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-vkontakte {background-position: -160px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-stumbleupon {background-position: -100px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-stumbleupon {background-position: -100px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-digg {background-position: -20px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-digg {background-position: -20px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-delicious {background-position: 0px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-delicious {background-position: 0px -20px;}
#main article.post footer.entry-extras ul.extras-social li a img.meta-social-rss {background-position: -80px 0px;}
#main article.post footer.entry-extras ul.extras-social li a:hover img.meta-social-rss {background-position: -80px -20px;}

/* Posts, Pages > Comments basics */
div#comments {margin: 0 0 0 140px; padding: 10px 0 0 0;} /* push down comment block to create 20px gap at top */
div#comments h2#comments-header {margin: 0 0 20px -140px; padding: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;} /* neat header */
div#comments ol.commentlist li {clear: both; margin: 0 0 20px 0; padding: 5px 10px 0 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;} /* basic single comment styles */
div#comments ol.commentlist li:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;} /* clear floats */
div#comments ol.commentlist article.comment footer {margin: -5px 0 0 -150px; width: 100px; background: #d0d0d0; float: left; clear: both; padding: 10px 10px 10px 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;} /* basic gravatar, author and date block */
div#comments ol.commentlist article.comment div.comment-author img {border: 1px solid #333; display: block;} /* gravatar border */
div#comments ol.commentlist article.comment footer div.commentmetadata {font-size: 10px; line-height: 12px;} /* time */
div#comments ol.commentlist article.comment div.reply {text-align: right; margin: 0 0 10px 0; border-top: 1px solid #bbb; font-size: 11px;} /* reply link */
div#comments ol.commentlist li.pingback {margin: 0 0 20px -140px; padding-bottom: 5px;} /* pingbacks */
div#comments ol.commentlist li.pingback p {padding: 0;} /* pingbacks */

/* Posts, Pages > Threaded comments */
div#comments ol.commentlist ul.children li.comment {clear: none; margin: 2px 0 2px 0; padding: 5px 10px 0 10px;}
div#comments ol.commentlist ul.children li.comment footer {background: #fff; float: none; width: auto; clear: none; margin: 5px 0 10px 0; overflow: hidden; padding: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
div#comments ol.commentlist ul.children li.comment footer div.comment-author {float: left;}
div#comments ol.commentlist ul.children li.comment footer div.commentmetadata {float: right;}
div#comments ol.commentlist ul.children li.comment footer img {float: left; margin: 0 10px 0 0; width: 30px; height: 30px;}

/* Posts, Pages > Comment form */
#main div#comments p.nocomments, #main div#comments .nopassword {font-size: 11px; line-height: 11px; margin: 0 0 0 -140px; padding: 7px 0 6px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
form#commentform {float: left; border: 1px solid #333; margin: 0 0 10px -140px; padding: 10px;}
div#comments ol.commentlist form#commentform {margin: 0 0 10px 0;}
#main h3#reply-title {margin: 0 0 0 -140px;}
div#comments ol.commentlist h3#reply-title {margin: 0;}
form#commentform p.comment-notes, form#commentform p.form-allowed-tags {font-size: 11px; border: 1px solid #333; padding: 3px 7px 2px 7px; margin: 0 0 10px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
form#commentform input, form#commentform textarea {font-size: 12px; line-height: 18px; margin: 0 0 5px 0;}
form#commentform input#submit {border: 1px solid #000; font-size: 14px; line-height: 26px; height: 26px;}

/* Posts, Pages > Banner header (for archives, etc.) */
#main header.page-header h1.banner {font-size: 14px; line-height: 16px; margin: 55px 0 0 0; padding: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
#main article.error404 h1.banner {margin: 55px 5px 15px 5px;}

/* Base-of-page nav */
nav#older-newer {border-top: 1px solid #666; margin-top: 10px; font-size: 11px;}
nav#older-newer div.older, nav#older-newer div.newer {margin: 10px 0 10px 0; width: 50%;}
nav#older-newer div.newer {text-align: right;}
nav#older-newer a {background: #eee; text-decoration: none; padding: 6px 8px 5px 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
nav#older-newer div.older a {float: left;}
nav#older-newer div.newer a {float: right;}
nav#older-newer a:hover {background: #4064b6;}

/* Search results */
div.entry-summary {padding: 10px 10px 0 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

/* Sidebar */
#main div#sidebar {margin-top: 45px;}
#main div.left-03col#sidebar aside, #main div.left-04col#sidebar aside {margin-top: 10px; float: left;}
#main div.left-03col#sidebar aside {width: 190px;}
#main div.left-04col#sidebar aside {width: 260px;}

/* Footer */
footer#colophon div.left-03col, footer#colophon div.right-03col {padding: 55px 0 68px 0;} /* base-of-page gaps */

/* 404 widgets */
#main article.error404 div.widget {float: left; width: 175px; margin: 5px; padding: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

}

/* ========================================================= */
/* Mobile text resize */
/* ========================================================= */

@media screen and (max-device-width: 480px) {
body {-webkit-text-size-adjust: none;}
}