/*
Version: IE7 - Some Corrections for a stable version.
*/

 /* Input Class -------------------------------------------------------------------------------------------------------------- */
 
input[type = text]#search{line-height: 34px; height:34px; }/* Search form on index*/
*:first-child + html div.search{margin: 0px 0px;}/*for IE7 */ /*Class Navigation */ /* Search form on index*/
.search{width: 170px; padding:0 0px; float:left; margin:0 20px 0 0; }
div.search{ width: 170px; }/*per gli altri browser */

/* Menu Navigation Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */











