/*
Theme Name: HybridSide
Theme URI: http://hybridside.llow.it/wordpress
Author: Lorenzo Lagana'
Author URI: http://www.llow.it
Description: Print CSS - Designed only for post (single.php)
Version: 1.0
*/


/* General Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* General----------------------------------------------------------------------------------------------------------------------------- */

body{font-size:100%; font-family:"Helvetica Neue", Helvetica, sans-serif;  text-align:center; }
*{padding: 0; margin: 0;}
a:focus{outline: 0;}
html{height: 101%;}
img{border: none; vertical-align:middle;}


 /* Characters------------------------------------------------------------------------------------------------------------------- */

h1{font-size: 1.625em;}
h2{font-size: 1.5em;}
h3{font-size: 1.25em;}
h4{font-size: 0.875em;}
h5{font-size: 0.75em;}
h6{font-size: 0.688em;}
p{ font-size: 0.75em;}

h1, h2, h3, h4, h5, h6,h7{line-height: auto; color: #555; font-weight: normal;  text-align:left; }
h1, h2, h3{ letter-spacing: 0;}
h3, h4, h5{ font-weight:bold;}
p{line-height:auto; color:#777; margin:0;}

 /* Links------------------------------------------------------------------------------------------------------------------- */
 
a, a:link, a:focus, a:active,a:visited{color: #555; background: transparent; text-decoration: underline; font-weight:bold; }



 /* General----------------------------------------------------------------------------------------------------------------- */
 
blockquote{background: #f3f3f3; border: 1px solid #ddd; margin: 5% 0; height: auto; padding: 10%; }
blockquote{font-style:italic;}
strong{font-weight: bold;}
em{font-style: italic;}
pre{background: #f3f3f3; margin: 10px 0; height: auto; border: 1px solid #aaa; }
pre{font-size: 11px;}
code{line-height: 1.4em;}
underline{text-decoration: underline;}
strike{text-decoration: line-through;}
small{margin: 1em 0;}


/* Div Structure Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

 /* Container---------------------------------------------------------------------------------------------------------------------- */
#container{width:100%;  margin:0;   text-align:left; box-shadow: none; border:none;}
#container{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;-khtml-border-radius:5px;}
div.container{height:auto;}

 /* Structure Divs---------------------------------------------------------------------------------------------------------------------- */
#header, #wrap_container, #main, #subfooter, #footer{border-bottom:none; padding:0; }
#main{width:100%; padding:0;}
#footer{ margin:10% 0; border-top:1px solid #ddd; padding:2% 0;}
#wrap_container, #subfooter,#sidebar, .info_index, #navigation, #post_navigation,#currentbrowsing, ol.commentlist, #respond, .author-info {display:none;}

 /* Height Structure Divs---------------------------------------------------------------------------------------------------------------- */
#header, #main, #footer{ height:auto;   }



/* Header Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Me Description Text ----------------------------------------------------------------------------------------------------------- */
#header ul {display:none; }
#header .description{display:none}

 /* Logo - Div inside Header------------------------------------------------------------------------------------------------------- */
.logo{ height: 60px; margin:auto 0; width: auto;   text-align:left;  }/*Standard size for logo image are 60x180px */
.logo img{margin:0;}
.logo h1{color: #555; }/*Headings for replacing Title blog */
.logo h6{color: #aaa; }/*Headings for replacing Description blog */


/* Content Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Content - Main body ------------------------------------------------------------------------------------------------------------- */
#content{width: 100% }/* corpo centrale */

/* First Post - Index.php ---------------------------------------------------------------------------------------------------------- */

.post p{margin: 0 ; line-height:1.4em; text-align:justify;}
.post h1{ margin: 0; color:#000; }
.post h1 a , .post h1 a:link, .post h1 a:focus, .post h1 a:active, .post h1 a:visited{ font-weight:normal; text-decoration:none;}


/* Single Post - single.php ----------------------------------------------------------------------------------------------------------- */
.post.single{width: 100%;  padding:0px 0; border-bottom:none; height:auto;  }
.post .text_content{margin-left:0px; width:100%; }
.post.single .title{margin-bottom:5%; min-height:0px;}
.post h6.print_time{display:block; margin:1% 0;}/* Display date only on print*/


/* Footer - Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer ------------------------------------------------------------------------------------------------------------------------------- */
#footer h6{line-height:1.5em;}
#footer h6.right{display:none;}
#footer ul{  display:none;}
