/*
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
Theme Name: HybridSide
Theme URI: http://hybridside.llow.it/wordpress
Author: Lorenzo Lagana'
Author URI: http://www.llow.it
Description: Hybridside, a free 3 Column Layout Theme for Wordpress.The main purpose of this theme is to offer a base theme for writers who have different needs, from simple blogging to a magazine.With a minimal design and a simple structure. the main core of hybridside offers to writers the possibility to choose the<a> body background, the color scheme for links, full support for thumbnails, wordpress menu navigation, 5 widget area and print friendly stylesheet support for your articles.
Tags: orange, blue, red, green, light, three-column, fixed-width, custom-colors, theme-options, custom-menu, thumbnail, sticky, widget
Version: 1.0 Right to Left
*/


/*
This is the RIGHT TO LEFT stylesheet for Hybridside.For easier reading, at the end of each line modified, i've put a RTL mark so you can understand which are the lines modified from the original stylesheet Left To right.
If you need to run this stylesheet simply rename it with "style.css" and of course rename the left to right stylesheet with "style_ltr.css".
That's all.
*/


/* General Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* General----------------------------------------------------------------------------------------------------------------------------- */

body{ font-family:"Helvetica Neue", Helvetica, sans-serif;   font-size:11px; background-color:#ddd; text-align:center; direction:rtl; /* RTL */
 }
*{padding: 0; margin: 0;}
a:focus{outline: 0;}
html{height: 101%;}
img{border: none; vertical-align:middle;}


 /* Characters------------------------------------------------------------------------------------------------------------------- */

h1{font-size: 34px;}
h2{font-size: 26px;}
h3{font-size: 20px;}
h4{font-size: 14px;}
h5{font-size: 12px;}
h6{font-size: 11px;}
h7{font-size: 10px;}
p{ font-size: 12px;}

h1, h2, h3, h4, h5, h6,h7{line-height: auto; color: #555; font-weight: normal;  text-align:right; }/* RTL */
h1, h2, h3{ letter-spacing: -1px;}
h3, h4, h5{ font-weight:bold;}
p{line-height:auto; color:#777; margin:0px 0 5px 0;  text-align:right;} /* RTL */

 /* Links------------------------------------------------------------------------------------------------------------------- */
 
a, a:link, a:focus, a:active,a:visited{color: #009DFF; background: transparent; text-decoration: none; }
a:hover {color: #555;}
a.button{background:#fff;}
li a:hover{color: #555;}



 /* Lists------------------------------------------------------------------------------------------------------------------- */
 
ul{margin:0 0 10px 0; list-style:none; }
ol{margin: 5px; padding-left: 20px; list-style: decimal;}
li{font-size: 11px; line-height: 18px; color: #777;  text-align:right;  }  /* RTL */
dt{} /* To define by User */
dd{} /* To define by User */

/* Input------------------------------------------------------------------------------------------------------------------- */

label{color: #999; line-height: 30px; height: 20px; text-align:right; }
textarea{width: 500px; border: 1px solid #ccc; margin: 0; color: #222; background: #f5f5f5;}
textarea:focus{color: #222; background: #fff;}
input [ type = radio ], input [ type = checkbox ] {width: 20px;}
input[type = text]{border: 1px solid #ccc; margin: 0; color: #222; background: #f5f5f5; width: 500px; height: 30px; line-height: 30px;}
input:focus[type = text]{color: #222; background: #fff;}
input[type = submit]{background-color:#777; background-image: url(images/reflex.png); background-position: 0px center; background-repeat: repeat-x; border: 1px solid #555;
text-align:center;  margin: 20px 0 0 0; padding: 5px 10px 6px; position: relative; cursor: pointer; min-width:100px;
display: inline-block; color: #fff; font-weight: bold; line-height: 1;font-size:11px;
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;-khtml-border-radius:5px; box-shadow:0 1px 3px #999; -moz-box-shadow: 0 1px 3px #999;-webkit-box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222;}
input:hover[type = submit]{border: 1px solid #222; background-color:#555;  }

 /* Input Class -------------------------------------------------------------------------------------------------------------- */
 
input[type = submit]#searchsubmit {margin: 0px; padding:0px; line-height:0; display:none;}/* Submit Button for searchform*/
.hidden{display: none; visibility:hidden;}/* Submit Button for searchform*/
input[type = submit]#submit {width:500px; height:30px;}/* Submit Button for Commentform*/
input[type = submit]#submit:hover{border: 1px solid #222; background-color:#555; }/* Submit Button for Commentform*/
input[type = text]#search{line-height: 35px; height:35px; width: 150px; text-align: right; color: #bbb; margin: 0px 0 0 0;  font-size: 11px; border:none;	  text-indent: 16px; background-color:#fff; background-image:url(images/search_16.png); background-repeat:no-repeat; background-position: right 12px;}/* Search form on index*/ /* RTL */
input[type = text]#search:focus{background-color: #eee; color: #555;}/* Search form on index*/

.search{width: 150px; padding:0 0px; float:right; margin:0 0px 0 20px; } /* RTL */


 /* General----------------------------------------------------------------------------------------------------------------- */
 
blockquote{background: #f3f3f3; border: 1px solid #ddd; margin: 10px 0; height: auto; padding: 15px; }
blockquote{font-style:italic;}
strong{font-weight: bold;}
em{font-style: italic;}
pre{background: #f3f3f3; margin: 10px 0; height: auto; border: 1px solid #aaa; }
pre{font-size: 11px;}
code{line-height: 20px;}
underline{text-decoration: underline;}
strike{text-decoration: line-through;}
small{margin: 1em 0;}

 /* Images-------------------------------------------------------------------------------------------------------------------*/
img{ margin:0 0 0 0; }
img.alignleft{margin: 0 20px 20px 0; float: left;}
a img.alignleft{margin: 0 20px 20px 0; float: left;}
img.alignright{margin: 0 0px 20px 20px; float: right;}
a img.alignright{margin: 0 0px 20px 20px; float: right;}
img.aligncenter{display: block; margin-left: auto; margin-right: auto; text-align:center;}
a img.aligncenter{display: block; margin-left: auto; margin-right: auto; text-align:center;}
.aligncenter, div.aligncenter {display: block;	margin-left: auto;margin-right: auto; }
.alignleft {float: left;}
.alignright {float: right;}

 /* Image class for small icons----------------------------------------------------------------------------------------------*/
img.icon{border:none; width:12px; height:12px; padding:0px 0px 0 5px; }

 /* Image class for emoticon----------------------------------------------------------------------------------------------*/
img.wp-smiley{border:none; vertical-align:middle;}


 /* Caption and Gallery ------------------------------------------------------------------------------------------------------*/
.wp-caption {background-color: #f3f3f3;border: 1px solid #ddd;	margin: 10px;padding-top: 4px;text-align: center;}
.wp-caption img {	border: 0 none;margin: 0;	padding: 0;}
.wp-caption p.wp-caption-text {	font-size: 11px;line-height: 17px;margin: 0;	padding: 0 4px 5px;}
.gallery { margin: auto;/* gallery clearing*/overflow: hidden;   width: 100%;}
.gallery .gallery-item { float: left; margin-top: 10px;  text-align: center;}
.gallery img { border:none;}
.gallery-caption { margin-left: 0;}
.gallery br { clear: both }

/* Columns------------------------------------------------------------------------------------------------------------------- */
.col-2 { width: 50% }
.col-3 { width: 33.333% }
.col-4 { width: 25% }
.col-5 { width: 20% }
.col-6 { width: 16.666% }
.col-7 { width: 14.285% }
.col-8 { width: 12.5% }
.col-9 { width: 11.111% }



/* Div Structure Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

 /* Container---------------------------------------------------------------------------------------------------------------------- */
#container{width:990px; background:#fff; margin:50px auto ;   text-align:left; box-shadow: 0px 1px 3px #999; -moz-box-shadow: 0 1px 3px #999;-webkit-box-shadow: 0 1px 3px #999; }
#container{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;-khtml-border-radius:5px;}
div.container{height:auto !important;/* Modern Browsers */ height: auto;/* For IE5.x e IE6 */ min-height: 900px; /* For Modern Browsers */}

 /* Structure Divs---------------------------------------------------------------------------------------------------------------------- */
#header, #wrap_container, #main, #subfooter, #footer{border-bottom:1px solid #ddd;  width:950px;  padding:15px 20px ;  }/* RTL */
#footer{border-bottom:none;}
#wrap_container{padding:0px 20px;}

 /* Height Structure Divs---------------------------------------------------------------------------------------------------------------- */
#header{ min-height:80px;   }
#wrap_container{ height:35px; }
#main{  min-height:600px; }
#subfooter{  min-height: 300px; overflow:hidden; }
#footer{ height: auto; }



/* Header Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Me Description Text ----------------------------------------------------------------------------------------------------------- */
#header{}
#header ul {list-style: none; text-align:right; } /* RTL */
#header li { display:inline;  line-height: 25px; height: 25px;    margin:0 0px 0 5px;} /* RTL */
#header li.nobullet img{display:none;}
#header a:hover{  color:#555;}
#header h6.description{text-align:right;} /* RTL */

 /* Logo - Div inside Header------------------------------------------------------------------------------------------------------- */
.logo{ height: 60px; margin:auto 0; width: 150px;    }/*Standard size for logo image are 60x180px */
.logo img{margin:0px;}
.logo h2{color: #555; text-align:right;  }/*Headings for replacing Title blog */ /* RTL */
.logo h6{color: #aaa; text-align:right;  }/*Headings for replacing Description blog */ /* RTL */


/* Menu Navigation Section START */ /* RTL  ALL*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#wrap ul {padding: 0 0px; margin: 0px; list-style:none;}
#wrap ul ul { position:absolute;  display: none;  list-style: none;  } /*unordered list within an unordered list*/
#wrap ul ul ul { position:absolute;  display: none; visibility:hidden; z-index:6; right:120px; top:0px;   } /*unordered list within an unordered list*/
#wrap li {list-style: none; float: right ;margin:0px 1px 5px 0;  background:#fff;  text-align: right;  }
#wrap li:hover { background:#eee; }/* each navigation item*/
#wrap li a {cursor:pointer; color: #777; display: block; line-height: 25px; height: 25px;  text-transform:uppercase; font-size:10px;   width:auto; padding:5px 5px; text-align: right; position:relative; margin:0 0px;} /*each navigation item anchor*/
#wrap li:hover ul {display:block;}
#wrap li ul li:hover ul {display:block;}
#wrap li ul {  float: right; background:#eee; border-bottom:none; border-top:1px solid #ddd; width:auto; box-shadow: 1px 1px 1px #999;  -moz-box-shadow: 1px 1px 1px #999;-webkit-box-shadow: 1px 1px 1px #999;   } /* unordered list if there is drop down items*/
#wrap li ul li ul { border-top:none;   } /* unordered list if there is drop down items*/
#wrap li li {float: none ;  margin:0px 0px 0 0; width:120px; background:#eee;  border-bottom:1px solid #ddd;} /* each drop down navigation item*/
#wrap li li:hover { background:#ddd;} /* each drop down navigation item*/
#wrap li li a {text-align:right; line-height: 25px; height: 25px; color:#777; }/* each drap down navigation item anchor*/
#wrap li li span{display:block; float:left; width:10px;  height:25px; padding:5px 0; background:url(images/bullet2.gif) no-repeat center center;}
#wrap li li li {float: none ;  margin:0px 0px 0 0; width:120px;  background:#eee; border-right:3px solid #ddd;}
#wrap li li li:hover { background:#ddd; } /* each drop down navigation item*/
#wrap li li li a {text-align:left; line-height: 25px; height: 25px; color:#777;  }/* each drap down navigation item anchor*/
#wrap li.current-post-ancestor { background:#009DFF; }/* Class for Current Page */
#wrap li.current_page_item { background:#009DFF;}/* Class for Current Page */
#wrap li.current-cat { background:#009DFF; } /* Class for Current Category */
#wrap li.current-menu-item { background:#009DFF;  }/* Class for any other current Menu Item */
#wrap li.current-post-ancestor a { color:#fff;  }/* Class for Current Page */
#wrap li.current_page_item  a{color:#fff;  }/* Class for Current Page */
#wrap li.current-cat a { color:#fff; } /* Class for Current Category */
#wrap li.current-menu-item  a{color:#fff; }/* Class for any other current Menu Item */


/* Wrap Menu - When Wp-Navigation Menu is Disabled -------------------------------------------------------------------------------- */
.navigation {text-align:right;}
.navigation ul {padding: 0 0px; list-style: none; margin: 0px; list-style:none;}
.navigation li {list-style: none;float: right ;margin:5px 5px 5px 0;  background:#fff; text-transform:uppercase; text-align: right; }
.navigation li:hover {}/* each navigation item*/
.navigation li a , .navigation li a :link, .navigation li a :focus, .navigation li a :active,.navigation li a :visited{cursor:pointer; color: #777; display: block; font-size: 10px; letter-spacing:0px; line-height: 25px; height: 25px; text-transform:uppercase;   width:auto; padding:0 5px; text-align: right; position:relative; margin:0 0px;} /*each navigation item anchor*/
.navigation li a:hover {background:#009DFF; color:#fff;} /*each navigation item anchor*/
.navigation li.current-post-ancestor { background:#009DFF; }/* Class for Current Page */
.navigation li.current_page_item {background:#009DFF; }/* Class for Current Page */
.navigation li.current-cat { background:#009DFF; } /* Class for Current Category */
.navigation li.current-menu-item { background:#009DFF;  }/* Class for any other current Menu Item */
.navigation li.current-post-ancestor a {  color:#fff;}/* Class for Current Page */
.navigation li.current_page_item  a{  color:#fff;}/* Class for Current Page */
.navigation li.current-cat a {  color:#fff;} /* Class for Current Category */
.navigation li.current-menu-item  a{  color:#fff; }/* Class for any other current Menu Item */

 /*Search Form --------------------------------------------------------------------------------------------------------------------- */



/* Content Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Content - Main body ------------------------------------------------------------------------------------------------------------- */
#content{width: 720px; }/* corpo centrale */

/* First Post - Index.php ---------------------------------------------------------------------------------------------------------- */
.post{  min-height: 150px;  background:#fff; border-bottom:1px solid #ddd; width: 720px;  padding:50px 0 50px 0; }
.post-text{ height: auto; z-index: 2; padding: 5px 0px; bottom: 0px;   margin:0px 0 0 0; margin-right:170px; width:550px;  } /* RTL */
.post .title{min-height:170px; } 
.post .read{margin:40px 0 0 0;}/* Read More Button when manual excerpt or more! is used*/
.post a.more { background-color:#009DFF;  color:#fff; float:right;padding:0px 15px; margin:0 1px 0 0;  height:25px; line-height:25px; } /* RTL */
.post-thumb {border:1px solid #ddd; padding: 0px; background:none; margin:0 0px 20px 20px; float:right;}/* Thumbanil class when a thumbnail image is inserted into the post */ /* RTL */

.post p{margin: 0 0 20px 0; line-height:20px; text-align:justify;}
.post h1{ margin: 0; }
.post h1 a ,.post  h1 a:link, .post  h1 a:active, .post  h1 a:focus {color: #555; padding:0px 0px;}
.post h1 a:hover {color: #009DFF;}
.post ul.tags{list-style:none; background:none;} 
.post ul.tags li { background-color:#eee;  background-repeat: no-repeat; background-image:url(images/tag_16.png); background-position: 5px 8px ;    padding:0px 25px; margin:0 1px 0 0; float:right; height:25px; line-height:25px; } /* RTL */
.post h6.print_time{display:none;}/* Display date only on print*/

/* First Post - Class for information on float:left  ------------------------------------------------------------------------------- */
.info_index{width:152px; float:right;  text-align:right; margin:0 0px 0 20px;} /* RTL */
.info_index ul{list-style:none;}
.info_index li {font-size:10px; color:#999; text-align:right;}
.info_index li.time{ line-height:auto; text-transform:uppercase; }
.info_index li.category{line-height:14px; font-weight:bold; text-transform:uppercase; }
.info_index li.comments{ font-weight:bold; line-height:16px;  margin:10px 0 0 0 ; border-bottom:1px dotted #ddd; }/* Lateral Comments*/
.info_index li.social{ line-height:20px; font-weight:bold; margin:8px 0 0 0;   border-bottom:1px dotted #ddd;  text-transform:uppercase; text-align:left;}
.info_index li.tag{ line-height:20px; font-weight:bold; margin:8px 0 0 0;  border-bottom:1px dotted #ddd;  text-transform:uppercase;  text-align:left;}
.info_index li.sticky{background-color:#009DFF;  height:20px; font-weight:bold; line-height:20px; text-align:center;  color:#fff; margin:0px 0 5px 0;}
.info_index li.author{list-style:none;  font-weight:bold;    line-height:16px; color:#555; margin:10px 0 0 0 ; }
.info_thumb{border:1px solid #ddd; margin:20px 0px 0 0px;  width:auto; height:auto;}/* Thumbnail image showed in the single post - single.php*/
.info_index img.icon3{border:none; background:none; float:right; margin:0; width:12px; height:12px; padding:0px 0px 0 0; margin:3px 0 0 0;}


 /*Navigation Page ----------------------------------------------------------------------------------------------------------------- */
#navigation{width:720px; height:40px;     }
.prevleft{ line-height: 40px; height: 40px; text-align: left; display:block; font-size: 11px;  letter-spacing: 0px; font-weight: normal;  text-indent: 0px;}
.prevleft a:hover { color:#009DFF;}
.prevleft a{ color: #777;  width: 200px; }
.nextright{ line-height: 40px; height: 40px;  text-align: right; font-size: 11px;   letter-spacing: 0px; font-weight: normal; display:block; float:right; text-indent:0px;  }
.nextright a:hover { color:#009DFF;}
.nextright a{ color: #777; width: 200px; }

/* Single Post - single.php ----------------------------------------------------------------------------------------------------------- */
.post.single{width: auto;  padding:30px 0 0 0; border-bottom:none; min-height:400px;  }
.post .text_content{margin-right:170px; width:550px; }
.post.single .title{margin-bottom:20px; min-height:0px;}


/*Post Navigation - Links on single.php for navigation between posts ------------------------------------------------------------------ */
 
#post_navigation{font-size: 11px; line-height: 30px; color: #777; border-bottom: 1px solid #ddd;  width:720px;  letter-spacing: 0px; font-weight: bold; padding: 5px 5px; text-indent: 5px; margin: 0px 0 20px 0; height: 30px;}
.prevpostleft{ line-height: 30px; height: 30px; text-align: right; font-size: 11px;    letter-spacing: 0px; font-weight: normal;  text-indent: 0px;} /* RTL */
.prevpostleft:hover a{ color:#333;}
.prevpostleft a{ color: #009DFF; }
.nextpostright{ line-height: 30px; height: 30px;  text-align: right; font-size: 11px;  letter-spacing: 0px; font-weight: normal; display:block; float:left;   text-indent: 0px;} /* RTL */
.nextpostright:hover a{ color:#333;}
.nextpostright a{ color: #009DFF; }

/* Author Info in the single post - single.php ----------------------------------------------------------------------------------------- */

.author-info{ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px 0;   height: auto; margin: 50px 0 0 0; overflow:hidden;}
.author-image{float: right; width: 80px; height: 80px; padding:5px;} /* RTL */
.author-info p {line-height:20px; margin:5px 0 0 0;}
.author-info h5{font-size: 12px;  font-weight: bold;}

/* Profile Avatar - single.php ---------------------------------------------------------------------------------------------------------- */
.avatar{padding: 1px; margin: 0 0px 0 10px; background: #fff; border: 1px solid #eee; float: right;} /* RTL */
img.avatar{margin: 0 0px 5px 10px; border: 1px solid #ccc; padding: 5px; float: right; clear: none;}

 /* Current Browsing Div in category pages and archive pages ---------------------------------------------------------------------------- */
 
.currentbrowsing{ height: 100px;  border-bottom:1px solid #ddd; }
.currentbrowsing h1{margin: 0 0 20px 0;  color: #009DFF; } /* Liste pagine Archivio  */
.currentbrowsing h6{font-style: italic; margin: 50px 0 0px 0; }


/* Sidebar And Subfooter - Widgets Area Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


 /* Sidebar --------------------------------------------------------------------------------------------------------------------------- */
 
#sidebar{width:200px;  float:left; margin:0px 0 0 0;  height: auto; padding-right:0px; text-align:right;  } /* RTL */
.widget1{margin:50px 0 0 0;}
#sidebar h6{font-size: 10px; line-height: 16px; color: #222; height: 20px;  letter-spacing: 1px; font-weight: bold; margin: 0px 0 10px 0; text-transform:uppercase; text-align:right;}/* Titolo Widgets Sidebar */ /* RTL */
#sidebar ul{list-style: none; list-style-position: outside; padding: 0; margin: 0 0 20px 0; text-align:right;} /* RTL */
#sidebar li{height:auto !important;/*all browsers except ie6 will respect the !important flag*/ height: 25px; line-height: 25px;  text-align:right; 
background-repeat: no-repeat; background-image:url(images/bullet2.gif); background-position: right 8px ; list-style-type: none; text-indent: 15px; border-bottom:1px dotted #ddd;} /* RTL */
.textwidget{ line-height: 16px;  margin:0 0 30px 0; color:#777;}

 /* Subfooter --------------------------------------------------------------------------------------------------------------------------- */
 
.widget2, .widget3, .widget4, .widget5 {width: 200px; display:block;  float: right; margin: 20px 0px 0 50px; } /* RTL */
.widget5{ margin: 20px 0 0 0;}/*Widget From right Side */ /* RTL */
#subfooter h6{font-size: 10px; line-height: 16px; color: #222; height: 20px;  letter-spacing: 1px; font-weight: bold; margin: 0px 0 10px 0; text-transform:uppercase;  text-align:right;}/* Titolo Widgets Sidebar */ /* RTL */
#subfooter ul{list-style: none; list-style-position: outside; padding: 0; margin: 0 0 20px 0; text-align:right;} /* RTL */
#subfooter li{height:auto !important;/*all browsers except ie6 will respect the !important flag*/ height: 25px; line-height: 25px;  text-align:right; 
background-repeat: no-repeat; background-image:url(images/bullet2.gif); background-position: right 8px ; list-style-type: none; text-indent: 15px; border-bottom:1px dotted #ddd;} /* RTL */


/* Footer - Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer ------------------------------------------------------------------------------------------------------------------------------- */
#footer h6{line-height:24px;}
#footer h6.right{border: none; float: left; padding: 0 0px 0 0px; text-align:left;  } /* RTL */
#footer h6.right a:hover{color:#555; }
#footer ul{ margin:10px 0 0 0; text-align:right; } /* RTL */
#footer li{color: #777;  font-size: 11px; display: inline; list-style-type: none; margin: 0; padding:0 0px 0 5px; line-height:24px;     } /* RTL */
#footer li.nobullet a{color: #777;  font-size: 11px;  font-weight:normal; line-height:24px; height:24px; }
#footer li.nobullet a:hover{color: #009DFF; }
#footer li.templatename{color: #777; font-size: 10px;  }
#footer li.nobullet img{display:none;}



/* Comments Template - Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Comments Template -------------------------------------------------------------------------------------------------------------------- */
ol.commentlist {width: auto; list-style:none; padding-left:0px;}
ol.commentlist a, ol.commentlist a:link, ol.commentlist a:active, ol.commentlist a:visited{color: #009DFF;}
ol.commentlist a:hover{color:#555;}
ol.commentlist li {margin: 20px 0;  list-style: none; list-style-position: outside; min-height: 150px;  background:#fff; border: 1px solid #ddd; width:auto; padding:10px;}
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor { background:#f5f5f5;  }
ol.commentlist li.comment-author-admin {background:#f5f5f5; }
ol.commentlist li p{color: #555; line-height: 20px; font-size: 12px; margin:50px 0 0 0;}
ol.commentlist li.comment div.reply {background-color:#777; background-image: url(images/reflex.png); background-position: 0px center; background-repeat: repeat-x; border: 1px solid #555;
text-align:center;  margin: 20px 0 0 0; padding: 5px 10px 6px; position: relative; cursor: pointer; width:100px;
display: inline-block; color: #fff; font-weight: bold; line-height: 1;font-size:11px;
-moz-border-radius: 5px;-webkit-border-radius: 5px;-moz-box-shadow: 0 1px 3px #999;-webkit-box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; }
ol.commentlist li.comment div.reply:hover {border: 1px solid #222; background-color:#555; background-image: url(images/reflex.png); background-position: 0px center; background-repeat: repeat-x; }
ol.commentlist li.comment div.reply a {color: #fff; }
ol.commentlist li ul.children { list-style:none; margin:20px 0 0 0px; text-indent:0;  }
ol.commentlist li ul.children li.depth-2 { margin:0 0 3px 50px; width:80%; }
ol.commentlist li ul.children li.depth-3 { margin:0 0 3px 30px; width:75%;}
ol.commentlist li ul.children li.depth-4 { margin:0 0 3px 30px; width:70%; }
ol.commentlist li ul.children li.depth-5 { margin:0 0 3px 30px; width:65%; }


/* Widgets Style - Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

 /* Calendar Class ----------------------------------------------------------------------------------------------------------------------- */
#wp-calendar {display: block;margin: 10px 0;padding: 0px 0;text-align: right;} /* RTL */
#wp-calendar caption {text-align: right;margin: 5px 0;color: #222;font-weight:bold; font-size:11px;} /* RTL */
#wp-calendar td {padding: 5px 0px 0px 18px;color: #555;background-color: #fff;text-align: center;font-weight:normal;font-size:11px;}/* RTL */
#wp-calendar td a, #wp-calendar td a:link, #wp-calendar td a:active, #wp-calendar td a:focus {color:#009DFF;font-weight:bold;}
#wp-calendar td a:hover {color:#555;}
#wp-calendar th {padding: 2px 0px 2px 18px; color: #777; background-color: #fff; text-align: center; font-weight:bold; font-size:11px;}/* RTL */
#wp-calendar  #prev   {text-align:right;padding:10px 0px 10px 0;font-size:11px;} /* RTL */
#wp-calendar  #next  {text-align:left;padding:10px 0px 10px 15px;font-size:11px;}/* RTL */
#wp-calendar .pad {background: transparent;width:10px;}

/* Class - Section START */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.alert{display:none;}/* Only for IE browser */
